<script setup lang="ts">
import enLocale from 'element-plus/es/locale/lang/en';
import zhcnLocale from 'element-plus/es/locale/lang/zh-cn';
import khkmLocale from 'element-plus/es/locale/lang/km';

const { isMobile } = useDevice();
const { store } = useVariables();
const locale = computed(() => (store.lang === 'cn' ? zhcnLocale : store.lang === 'en' ? enLocale : khkmLocale));
</script>
<template>
  <div>
    <!-- <NuxtWelcome /> -->
    <NuxtLayout :name="isMobile ? 'desktop' : 'desktop'">
      <NuxtLoadingIndicator />
      <el-config-provider :locale="locale">
        <NuxtPage />
      </el-config-provider>
    </NuxtLayout>
  </div>
</template>
