<script setup lang="ts">
definePageMeta({
  middleware: ["user-auth"]
});

import useAuth from "~/composables/auth/useAuth";
import SocialLogin from "~/components/socialLogin.vue";

const {
  state,
  loginRules,
  onLogin,
  ruleFormRef,
  isProcessing
} = useAuth();

</script>
<template>
  <div>
    <section>
      <div class="flex flex-col items-center justify-center px-6 h-[80vh] lg:h-[100vh] xl:pb-32 pb-48">
        <a href="#" class="flex items-center mb-5 text-2xl font-semibold text-gray-900 dark:text-white">
          <div>{{ $t('login') }}</div>
        </a>
        <div class="w-full rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <SocialLogin v-model:is-loading="isProcessing"/>
            <el-form
                ref="ruleFormRef"
                :model="state.formLogin"
                label-position="top"
                :rules="loginRules"
                :disabled="isProcessing"
                status-icon>
              <el-form-item :label="$t('usernameOrEmail')">
                <el-input v-model="state.formLogin.usernameOrEmail" :placeholder="$t('enterUsernameOrEmail')"/>
              </el-form-item>
              <el-form-item :label="$t('password')">
                <el-input type="password" @keyup.enter="onLogin(ruleFormRef)" v-model="state.formLogin.password" :placeholder="$t('enterPassword')"/>
              </el-form-item>
              <el-form-item>
                <el-button @click="onLogin(ruleFormRef)" :loading="isProcessing" class="w-full" type="primary">
                  {{ $t('signIn') }}
                </el-button>
              </el-form-item>
              <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                {{ $t('dontHaveAnAccountYet') }}
                <router-link to="/account/register"
                             class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                  <span class="primary">
                    {{ $t('signUp') }}
                  </span>
                </router-link>
              </p>
            </el-form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style lang="scss" scoped></style>