<script setup lang="ts">
import useAuth from "~/composables/auth/useAuth";
import SocialLogin from "~/components/socialLogin.vue";

definePageMeta({
  middleware: ["user-auth"]
});
const {
  state,
  registerRules,
  onRegister,
  ruleFormRef,
  isProcessing
} = useAuth();

</script>
<template>
  <div>
    <section>
      <div class="flex flex-col items-center justify-center mb-5 px-6 md:h-[80vh] lg:h-[100vh] xl:h-[100vh] 2xl:h-[100vh] h-[75vh]">
        <a href="#" class="flex items-center mb-5 text-2xl font-semibold text-gray-900 dark:text-white">
          <div>{{ $t('register')}}</div>
        </a>
        <div class="w-full rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <SocialLogin v-model:is-loading="isProcessing"/>
            <el-form
                ref="ruleFormRef"
                :model="state.formRegister"
                label-position="top"
                :rules="registerRules"
                :disabled="isProcessing"
                status-icon
            >
              <el-form-item prop="username" :label="$t('username')">
                <el-input v-model="state.formRegister.username" :placeholder="$t('enterUsername')"/>
              </el-form-item>
              <el-form-item prop="email" :label="$t('email')">
                <el-input v-model="state.formRegister.email" :placeholder="$t('enterYourEmail')"/>
              </el-form-item>
              <el-form-item prop="password" :label="$t('password')">
                <el-input type="password" v-model="state.formRegister.password" :placeholder="$t('enterPassword')"/>
              </el-form-item>
              <el-form-item prop="confirm_password" :label="$t('confirmPassword')">
                <el-input type="password" v-model="state.formRegister.confirm_password" :placeholder="$t('confirmPassword')"/>
              </el-form-item>
              <el-form-item prop="phone" :label="$t('phone')">
                <el-input v-model="state.formRegister.phone"  @keyup.enter="onRegister(ruleFormRef)"  :placeholder="$t('enterYourPhone')"/>
              </el-form-item>
              <el-form-item>
                <el-button @click="onRegister(ruleFormRef)" class="w-full" type="primary">{{ $t('register') }}</el-button>
              </el-form-item>
              <p class="text-sm font-light text-gray-500 dark:text-primary">
                {{ $t('alreadyHaveAnAccount') }} <router-link to="/account/login"
                                              class="font-medium text-primary-600 hover:underline dark:text-primary-500">
               <span class="primary"> {{$t('signIn')}}</span>
              </router-link>
              </p>
            </el-form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style lang="scss" scoped>

</style>