<script lang="ts" setup name="mobileMenu">
const props = defineProps({
  isOpen: {
    type: Boolean,
    default: () => false,
  }
});
const emit = defineEmits(['update:isOpen']);
const displayDialog = computed(() => props.isOpen);
const menuItems = [
  {
    name: 'home',
    icon: 'material-symbols:other-houses-rounded',
    link: '/',
  },
  {
    name: 'placeToVisit',
    icon: 'material-symbols:directions-car-sharp',
    link: '/visit',
  },
  {
    name: 'placeToEat',
    icon: 'material-symbols-light:fastfood-rounded',
    link: '/food',
  },
  {
    name: 'hotelToStay',
    icon: 'material-symbols:bed',
    link: '/hotel',
  },
  {
    name: 'event',
    icon: 'material-symbols:calendar-month-sharp',
    link: '/event',
  },
  // {
  //   name: 'blog',
  //   icon: 'material-symbols:featured-play-list-outline-rounded',
  //   link: '/blog',
  // },
];
</script>
<template>
  <div>
    <el-dialog v-model="displayDialog" @close="emit('update:isOpen', false)" :show-close="false"
      style="width: 80%; border-radius: 16px;">
      <div class="p-5">
        <div class="py-2 " v-for="(item, index) in menuItems" :key="index">
          <NuxtLink :to="item.link" @click="emit('update:isOpen', false)" 
          class="flex justify-between cursor-pointer items-center">
            <div class="flex gap-2 items-center">
              <Icon :name="item.icon" size="24" />
              <span class="capitalize">{{ $t('navbar.' + item.name) }}</span>
            </div>
            <div>
              <Icon class="text-2xl" name="material-symbols:arrow-right"></Icon>
            </div>
          </NuxtLink>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<style lang="scss" scoped>
.router-link-active {
  color: var(--el-color-primary);
  font-weight: bold;
}

:deep(.el-dialog__header){
  padding: 0;
}
</style>