<script setup lang="ts">
import Authenticate from "~/layouts/desktop/components/Authenticate.vue";
import { useStore } from '~/store';

const store = useStore();
</script>
<template>
  <div class="bg-background/75 backdrop-blur border-b  sticky top-0 z-50 border-gray-200 dark:border-gray-800 py-2">
    <div class="mx-auto pcContainer">
      <div class="flex items-center justify-between gap-2">
        <div class="flex items-center gap-5">
          <router-link to="/" class="flex text-bas font-semibold uppercase primary">
            Tovna24
          </router-link>
        </div>
        <div class="flex items-center">
          <div class="flex items-center">
            <Authenticate :login="'small'" :register="'small'"/>
            <Language :size="'80px'" :type="'small'"/>
          </div>
        </div>
      </div>
      <div class="flex justify-between items-center mt-2">
        <UploadButton :size="'default'" />
        <div class="flex gap-2 items-center">
          <div class="flex gap-1 items-center cursor-pointer" @click="store.onSearch = !store.onSearch">
            <Icon name="i-heroicons-magnifying-glass" size="22" />
            <span class="text-sm">{{ $t('navbar.search') }}...</span>
          </div>
          <ColorMode />
          <Icon class="text-3xl cursor-pointer" name="i-heroicons-bars-3-bottom-right"
            @click="store.onMobileDialog = !store.onMobileDialog" />
        </div>
      </div>
    </div>
  </div>
  
</template>