<template>
	<el-upload
			ref="upload"
			action="/api/upload"
			:file-list="state.images"
			:on-preview="handlePreview"
			:on-exceed="handleExceed"
			:on-remove="handleRemove"
			:on-success="uploadSuccess"
			:multiple="props.multiple"
			:before-upload="handleBeforeUpload"
			:on-progress="handleProgress"
			list-type="picture-card"
			accept=".jpg,.jpeg,.png,.JPG,.JPEG,.gif,.PNG"
	>
		<template #file="{ file }">
			<div v-if="file.status === 'ready'" class="px-1 w-full h-full"
			     style="display: flex; align-items: center; justify-content: center">
				<Icon size="28" name="svg-spinners:bars-rotate-fade"/>
			</div>
		</template>
		<Icon size="52" name="i-heroicons-photo"/>
	</el-upload>
	<el-dialog v-model="dialogVisible">
		<img class="w-full" :src="dialogImageUrl" alt="Preview Image"/>
	</el-dialog>
</template>
<script setup lang="ts">
import type { UploadProps } from 'element-plus';
import { onMounted, reactive, ref } from 'vue';
import useUpload from '@/api/upload';
import imageCompression from 'browser-image-compression';

const props = defineProps({
	getFileStrs: {
		type: Array,
		default: () => [],
	},
	multipleUpload: {
		type: Boolean,
		default: () => false,
	},
	fileList: {
		type: Array,
		default: () => [],
	},
	limit: {
		type: Number,
		default: () => 100,
	},
	multiple: {
		type: Boolean,
		default: () => false,
	},
});
const state = reactive({
	images: <any>[],
	imageProcessing: false,
});
const emit = defineEmits(['update:getFileStrs', 'update:loading']);
const api = useUpload();
const dialogImageUrl = ref('');
const dialogVisible = ref(false);

onMounted(() => {
	state.images = props.fileList;
});
const handlePreview = (uploadFile: { url: string }) => {
	dialogImageUrl.value = uploadFile.url!;
	dialogVisible.value = true;
};

const uploadSuccess: UploadProps['onSuccess'] = (response) => {
	// eslint-disable-next-line no-console
	if (response.code !== 1) {
		state.images.push({
			name: response.data.name,
			url: 'uploads/posts/' + response.data.name,
			new: true,
		});
		emit('update:getFileStrs', state.images);
	} else {
		console.log(response.data)
		ElMessage.error(response.data)
	}

	state.imageProcessing = false;
};
const handleRemove = async (uploadFile: any) => {
	try {
		console.log('remove file:', uploadFile);
		await api.removeFile(uploadFile);
	} catch (err) {
		console.error('Error reverting file:', err);
	}
};
const handleExceed: UploadProps['onExceed'] = async (files) => {
	state.imageProcessing = true;
};

const handleBeforeUpload = async (file: File) => {
	try {
		state.imageProcessing = true;
		const options = {
			maxSizeMB: 1, // Max file size in MB
			maxWidthOrHeight: 1920, // Max width or height
			useWebWorker: true, // Use web worker for better performance
		};
		// Compress the file
		const compressedFile = await imageCompression(file, options);
		console.log('Original file size:', file.size / 1024 / 1024, 'MB');
		console.log(
				'Compressed file size:',
				compressedFile.size / 1024 / 1024,
				'MB'
		);
		// Return the compressed file for upload
		return compressedFile;
	} catch (error) {
		// eslint-disable-next-line no-console
		console.error('Error during compression:', error);
		return false; // Prevent upload if compression fails
	} finally {
		state.imageProcessing = false;
	}
};
const handleProgress: UploadProps['onProgress'] = async (
		event: Record<string, any>
) => {
	try {
		// state.imageProcessing = true;
		const { percent } = event;
		// You can optionally update a progress bar here based on the `percent` value.
		// eslint-disable-next-line no-console
		console.log(`Uploading... ${percent}%`);
		if (percent === 100) {
			state.imageProcessing = false;
		}
	} catch (error) {
		// eslint-disable-next-line no-console
		console.error('Error during upload progress:', error);
	} finally {
		state.imageProcessing = false;
	}
};
defineExpose({
	handleRemove
})
</script>
