<script setup lang="ts">
import useAuthApi from "~/api/auth";
import useVariable from "~/composables/useVariables";
import EnumApiErrorCode from "~/models/enums/enumApiErrorCode";

const api = useAuthApi();
const Dialog = defineAsyncComponent(() => import('~/pages/setting/admin/dialog.vue'));
const { openDialogRef, isMobile } = useVariable();
const state = reactive({
  data: {} as any,
  loading: false,
});

const getAdminAcc = async () => {
  state.loading = true;
  const response = await api.adminAcc();
  if (response.code !== EnumApiErrorCode.success) {
    console.log(response);
  } else {
    state.data = response.data;
  }
  state.loading = false;
};
const onApplyAccount = () => {
  openDialogRef.value.openDialog('add')
};
onMounted(() => {
  getAdminAcc();
})
</script>

<template>
	<el-card shadow="never"
	>
		<template #header>
			<el-alert type="info" :closable="false">
				<template #title>
					<Vue3Marquee :pause-on-hover="true">
						{{ $t('announcement') }}
					</Vue3Marquee>
				</template>
			</el-alert>
		</template>
		<div class="flex justify-center h-32" v-loading.lock="state.loading">
			<div v-if="!state.data" class="mt-10">
				<el-button type="primary" @click="onApplyAccount">
					{{$t('applyForAdmin')}}
				</el-button>
			</div>
			<div v-else>
				<div v-if="state.data && state.data.status">
					<!-- <div class="info md:text-2xl text-xl mb-2">{{ $t('adminManagement') }}</div> -->
					<el-link type="success" href="https://admin.tovna24.com" target="_blank" class="cursor-pointer">
						<div class="flex gap-2 items-center">
							<Icon name="i-heroicons-arrow-right-circle" size="28"/>
							<span class="text-xl">admin.tovna24.com</span>
						</div>
					</el-link>
					<div class="warning mt-2">{{$t('nowYouCanClick')}} </div>
				</div>
				<div v-else>
					<el-tag :size="isMobile ? 'small' : 'large'" type="warning" >
              <span class="md:text-base text-xs">
                {{ $t('pleaseWaitForAdmin')}}
              </span>
					</el-tag>
				</div>
			</div>
		</div>
	</el-card>
	<Dialog ref="openDialogRef" @refresh="getAdminAcc()" />
</template>
<style lang="scss"></style>