<script setup lang="ts">
import type { IRule } from '~/libraries/elementUiHelpers/formHelper';
import { messageNotification } from '~/libraries/elementUiHelpers/notificationHelper';
import EnumApiErrorCode from '~/models/enums/enumApiErrorCode';
import EnumMessageType from '~/models/enums/enumMessageType';
import formHelper from "~/libraries/elementUiHelpers/formHelper";
import useVariable from "~/composables/useVariables";
import { ElMessage } from 'element-plus'

const uploadBase = defineAsyncComponent(() => import('~/components/uploadFile/uploadBase.vue'));
const PopOverMap = defineAsyncComponent(() => import('~/components/map/popOverMap.vue'));
const Editor = defineAsyncComponent(() => import('~/components/editor/index.vue'));
const {
  api,
  store, t,
  isMobile,
  ruleFormRef,
} = useVariable();
const rules: Record<string, IRule> = ({
  title: {
    required: true,
  },
  cat_id: {
    required: true, isTriggerByChange: true,
  },
  address: {
    required: true,
  },
  price: {
    required: true,
  },
  type: {
    required: true,
  },
});

const state = reactive({
  form: {
    id: null,
    cat_id: null,
    title: '',
    address: '',
    embed_link: '',
    images: [],
    price: '',
    sort: 9999,
    view: 0,
    type: '',
    place_type: '',
    is_visible: true,
    describe: '',
    uuid: ''
  },
  dialog: {
    title: '',
    submit: '',
    cancel: '',
    isShowDialog: false,
    type: '',
  },
  loading: false,
	placeTypes: [],
});
const resetFields = () => {
  state.form = {
    id: null,
    cat_id: null as any,
    title: '',
    address: '',
    images: [],
    embed_link: '',
    price: '',
    sort: 9999,
    view: 0,
    is_visible: true,
    place_type: '',
    describe: '',
    type: '',
    uuid: ''
  };
}


const openDialog = async (type: string, row: Record<string, string>) => {
  if (type === 'edit') {
    // state.form = Object.assign(state.form, row);
	  state.form = JSON.parse(JSON.stringify(row));
    state.dialog.title = t('edit');
    state.dialog.submit = t('submit');
  } else {
    state.dialog.title = t('post');
    state.dialog.submit = t('submit');
  }
  state.dialog.type = type;
  state.dialog.isShowDialog = true;
};
const emit = defineEmits(['refresh']);
const submitProcess = async () => {
  state.loading = true;
  try {
    const request = {
      id: state.form.id,
      cat_id: state.form.cat_id,
      title: state.form.title,
      address: state.form.address,
      describe: state.form.describe,
      is_visible: state.form.is_visible,
      sort: state.form.sort ?? 999,
      view: state.form.view,
      price: state.form.price,
      embed_link: state.form.embed_link,
      type: state.form.type,
      place_type: state.form.place_type,
      uuid: state.form.uuid,
    };
    const response = await api.savePostArticle(request);
	  if (response.data) {
		  const files = state.form.images.filter(
				  (item: Record<string, string>) => item.new
		  );
		  api.storeImages(response.data, files);
	  }
	  messageNotification(t('success'), EnumMessageType.Success);
	  resetFields();
	  emit('refresh');
	  state.dialog.isShowDialog = false;
  } catch (e) {
    //TODO handle the exception
  } finally {
	  state.loading = false;
  }

};
const formRules = formHelper.getRules(rules);
const onSubmit = formHelper.getSubmitFunction(submitProcess);
const displayTypeName = computed(() => state.form.type === 'event' ? 'eventName' : state.form.type === 'hotel' ? 'hotelName' : 'placeName');

const onSelectedChange = () => {
  state.form.place_type = '';
	getPlaceType()
}
const uploadFileRef = ref()
const discardImages = async () => {
	const newFiles = state.form.images.filter(
			(item: any) => item.new
	);
	if (newFiles.length) {
		for (const item of newFiles) {
			try {
				await uploadFileRef.value.handleRemove(item);
			} catch (error) {
				console.error(`Failed to remove file ${item}:`, error);
			}
		}
	}
}
const onClose = () => {
	discardImages();
	resetFields();
}
const getPlaceType = async () => {
	try {
		const request = {
			type: state.form.type,
		};
		const res = await api.getPlaceByType(request);
		state.placeTypes = res.data;
	} catch (error) {
		console.log(error);
	}
};
defineExpose({
	openDialog
});
</script>
<template>
  <el-dialog :style="{ width: isMobile ? '95%' : '70%' }"
             @close="onClose()"
             destroy-on-close
             append-to-body
             v-model="state.dialog.isShowDialog" :close-on-click-modal="false"
             :title="state.dialog.title"
  >
    <el-form :label-position="'top'" ref="ruleFormRef" :model="state.form" :rules="formRules"
             class="grid md:grid-cols-2 grid-cols-1 gap-x-5 gap-y-0">
      <el-form-item prop="type" :label="$t('selectedTypePost')">
        <el-select v-model="state.form.type" class="w-full" :placeholder="$t('select')" @change="onSelectedChange">
          <el-option value="visit" :label="$t('navbar.placeToVisit')"/>
          <el-option value="food" :label="$t('navbar.food')"/>
          <el-option value="hotel" :label="$t('navbar.hotel')"/>
          <el-option value="event" :label="$t('navbar.event')"/>
        </el-select>
      </el-form-item>
      <el-form-item prop="cat_id" :label="$t('heighLight.selectProvince')">
        <div class="flex md:gap-5 gap-2 w-full">
          <el-select
              v-model="state.form.cat_id"
              class="w-full"
              :placeholder="$t('select')"
          >
            <el-option
                v-for="(cat, index) in store.categories"
                :key="index"
                :label="$t(`heighLight.provinces.${cat.key}`)"
                :value="cat.id"
            />
          </el-select>
          <el-select
              :disabled="!state.form.type"
              v-model="state.form.place_type"
              class="w-full"
              :placeholder="$t('choosePlaceType')"
          >
            <el-option
                v-for="(item, index) in state.placeTypes"
                :key="index"
                :value="item.key"
                :label="$t(`placesType.${item.key}`)"
            />
          </el-select>
        </div>
      </el-form-item>
      <el-form-item prop="title" :label="$t(displayTypeName)">
        <el-input type="text" v-model="state.form.title"/>
      </el-form-item>
      <el-form-item :prop="state.form.type === 'hotel' ? 'price' : ''"
                    :label="state.form.type === 'hotel' ? $t('priceStarts') : $t('addMap')">
        <div class="flex gap-3 items-center">
          <el-input type="number" v-model="state.form.price" :placeholder="$t('amount')" style="width: 120px;"
                    v-if="state.form.type === 'hotel'">
            <template #append>$</template>
          </el-input>
          <div class="flex gap-5 items-center">
            <PopOverMap v-model:embedLink="state.form.embed_link"/>
          </div>
        </div>
      </el-form-item>
      <el-form-item prop="address" :label="$t('address')">
        <el-input type="textarea" v-model="state.form.address" rows="4"/>
      </el-form-item>
      <el-form-item :label="$t('images')" prop="images"
                    :rules="[
                {
                  required:
                  !state.form.images?.length && !state.form.images?.length,
                  message: $t('imageIsRequire'),
                  trigger: ['blur'],
                },
				    ]">
        <uploadBase
		        ref="uploadFileRef"
            multiple
            :fileList="state.form.images"
            v-model:loading="state.loading"
            v-model:get-file-strs="state.form.images"
        />
      </el-form-item>
      <el-form-item :label="$t('describe')" class="col-span-full">
        <Editor v-model:get-html="state.form.describe"
                :height="'300px'" :placeholder="$t('inputContent')"
                mode="simple"
        />
      </el-form-item>
    </el-form>
    <template #footer>
      <div class="dialog-footer">
        <el-button type="primary" @click="onSubmit(ruleFormRef)" :loading="state.loading">
          {{ $t(state.dialog.submit) }}
        </el-button>
      </div>
    </template>
  </el-dialog>
</template>
<style scoped land="scss">
:deep(.el-upload--picture-card) {
	--el-upload-picture-card-size: 94px;
}
:deep(.el-upload-list--picture-card) {
	--el-upload-list-picture-card-size: 94px;
}

</style>