<script setup lang="ts">
import useVariable from "~/composables/useVariables";
import EnumApiErrorCode from "~/models/enums/enumApiErrorCode";
import { messageNotification } from "~/libraries/elementUiHelpers/notificationHelper";
import EnumMessageType from "~/models/enums/enumMessageType";
import { Post, type IPost } from '~/models/IPost';

const Dialog = defineAsyncComponent(() => import('~/pages/setting/mypost/dialog.vue'));
const { t, api, openDialogRef, onOpenEditDialog, isMobile } = useVariable();
const state = reactive({
  tableData: {
    data: <IPost[]>[],
    page: {
      page: 1,
      pageSize: 10,
    },
    total: 0,
    loading: false,
    search: '',
  }
});

const filterTableData = computed(() => state.tableData.data.filter((data: IPost) => !state.tableData.search || data.title.toLowerCase().includes(state.tableData.search.toLowerCase())));
const getTableData = async () => {
  state.tableData.loading = true;
  const response = await api.getMyPost(state.tableData.page);
	state.tableData.data = [];
	state.tableData.data = response.data.map((item: IPost) => new Post(item));
	state.tableData.total = response.total;
  state.tableData.loading = false;
};
const deleteRow = async (row: Object) => {
  const response = await api.deletePostArticle(row)
  if (response.code === EnumApiErrorCode.success) {
    messageNotification(t('success'), EnumMessageType.Success);
    getTableData();
  } else {
    messageNotification(response.message, EnumMessageType.Error);
  }
};
const onSystem = (row: object, key: string) => {
  if (key === 'edit') {
    onOpenEditDialog(key, row);
  } else {
    deleteRow(row)
  }
};
const handleCurrentChange = (val: number) => {
  state.tableData.page.page = val;
  getTableData();
}
const handleSizeChange = (val: number) => {
  state.tableData.page.pageSize = val;
  getTableData();
};
onMounted(() => {
  getTableData();
})
</script>

<template>
  <el-card shadow="never">
    <el-table :data="filterTableData" v-loading.lock="state.tableData.loading"
              :height="`calc(80vh - 160px)`"
    >
      <el-table-column type="index" :label="$t('numberSign')" width="60" />
      <el-table-column prop="title" :label="$t('titleContent')" min-width="160" />
      <el-table-column :label="$t('heighLight.selectProvince')" width="140">
        <template #default="scope">{{ $t(`heighLight.provinces.${scope.row.category.key}`) }}</template>
      </el-table-column>
      <el-table-column :label="$t('images')" min-width="120">
        <template #default="props">
          <div class="grid grid-cols-3 gap-2">
            <el-avatar :size="60" v-for="(img, index) in props.row?.images" :key="index" v-show="index <= 4">
              <img :src="img.url" :alt="img.name" />
            </el-avatar>
            <el-avatar :size="60" v-if="props.row.images?.length > 5">
              <Icon name="i-heroicons-plus" size="25" />
            </el-avatar>
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="address" :label="$t('address')" min-width="160" />
      <el-table-column :label="$t('describe')" min-width="250">
        <template #default="prop">
          <div class="truncate line-clamp-3 max-h-32" v-html="prop.row.describe" />
        </template>
      </el-table-column>
      <el-table-column prop="embed_link" :label="$t('googleMap')" min-width="180">
        <template #default="prop">
          <iframe v-if="prop.row.getMapDisplay?.iframe" :src="prop.row.getMapDisplay?.link" width="150px" height="80px"
                  style="border:0;" loading="lazy" class="rounded-lg" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <el-link type="primary" v-else :href="prop.row.getMapDisplay?.link" target="_blank">
            {{ prop.row.getMapDisplay?.link }}
          </el-link>
        </template>
      </el-table-column>
      <el-table-column prop="created_at" :label="$t('createdAt')" min-width="110" />
      <el-table-column :minWidth="isMobile ? 120 : 180" fixed="right">
        <template #header>
          <el-input v-model="state.tableData.search" size="default" :placeholder="$t('name')" />
        </template>
        <template #default="scope">
	        <el-button link type="primary" size="small" @click="$router.push(`/detail?key=${scope.row.uuid}`)">
		        {{ $t('view') }}
	        </el-button>
          <el-button link type="warning" size="small" @click.prevent="onSystem(scope.row, 'edit')">
            {{ $t('edit') }}
          </el-button>
          <el-popconfirm :title="$t('areYouSure')" @confirm="onSystem(scope.row, 'delete')">
            <template #reference>
              <el-button size="small" text type="danger">{{ $t('delete')
                }}</el-button>
            </template>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination class="mt-5" v-model:current-page="state.tableData.page.page"
                   v-model:page-size="state.tableData.page.pageSize" :page-sizes="[10, 25, 50, 75, 100]" size="small" background
                   layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange"
                   @current-change="handleCurrentChange" :total="state.tableData.total" />
    <Dialog ref="openDialogRef" @refresh="getTableData()" />
  </el-card>
</template>