@font-face {
    font-family: 'Battambang';
    src: url('../fonts/Battambang-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.kh-font {
    font-family: 'Battambang', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
}