@use './other.scss';
@use "./fonts";
body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
}
.dark body {
  .sepia body {
    background-color: #f1e7d0;
    color: #433422;
  }
  .primary {
    color: var(--el-color-primary);
  }
  .info {
    color: var(--el-color-info);
  }
  .success {
    color: var(--el-color-success);
  }
  .warning {
    color: var(--el-color-warning);
  }
  .danger {
    color: var(--el-color-danger);
  }
  .bg-primary {
    background-color: var(--el-color-primary);
  }
  .bg-warning {
    background-color: var(--el-color-warning);
  }
  background-color: rgb(31, 31, 33);
  color: #ebf4f1;
  .border-gray {
    border: 2px solid var(--el-color-primary);
  }
}
.sepia body {
  background-color: #f1e7d0;
  color: #433422;
}
.primary {
  color: var(--el-color-primary);
}
.info {
  color: var(--el-color-info);
}
.success {
  color: var(--el-color-success);
}
.warning {
  color: var(--el-color-warning);
}
.danger {
  color: var(--el-color-danger);
}
.bg-primary {
  background-color: var(--el-color-primary);
}
.bg-warning {
  background-color: var(--el-color-warning);
}
.pcContainer {
  @apply px-3 sm:px-4 lg:px-5 xl:px-5 max-w-[100rem];
}
.pcMenu {
  .router-link-active {
    @apply text-white bg-primary;
    @apply rounded-2xl px-3 py-1.5;
  }
  .router-link-active:hover {
    @apply text-white bg-primary;
    @apply rounded-2xl px-3 py-1.5;
  }
}

.border-gray {
  border: 2px solid var(--el-color-info-light-8);
}
/* Dialog ប្រអប់ប្រអប់
------------------------------- */
.el-overlay {
  overflow: hidden;
  .el-overlay-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: unset !important;
    width: 100%;
    height: 100%;
    .el-dialog {
      margin: 0 auto !important;
      position: absolute;
      .el-dialog__body {
        padding: 20px !important;
      }
    }
  }
}
.el-dialog__body {
  max-height: calc(90vh - 111px) !important;
  overflow-y: auto;
  overflow-x: hidden;
}
/* scrollbar
------------------------------- */
.el-scrollbar__bar {
  z-index: 4;
}
/*Prevent the scroll bar height from remaining unchanged when switching pages (the scroll bar height is not the scroll bar scroll height)）*/
.el-scrollbar__wrap {
  max-height: 100%;
}
.el-select-dropdown .el-scrollbar__wrap {
  overflow-x: scroll !important;
}