/* wangeditor
------------------------------- */

html.dark {
	// textarea - css vars
	.w-e-toolbar {
		background-color: #181818;
	}

	--w-e-textarea-bg-color: #181818;
	--w-e-textarea-color: #fff;
}
