<script setup lang="ts">
import useVariable from '~/composables/useVariables';
import formHelper, { type IRule } from '~/libraries/elementUiHelpers/formHelper';
import { messageNotification } from '~/libraries/elementUiHelpers/notificationHelper';
import EnumApiErrorCode from '~/models/enums/enumApiErrorCode';
import EnumMessageType from '~/models/enums/enumMessageType';

const props = defineProps({
    owner_uuid: {
        type: String,
        default: () => '',
    }
})
const state = reactive({
    form: {
        bed: '',
        price: '',
        name: '',
        booking_date: <any>[],
        phone: '',
        people: '',
        request_from: 'website',
        uuid: '',
        room: '',
    },
    dialog: {
        title: 'add',
        isShowDialog: false,
        submit: 'submit',
        type: '',
    }
});
const resetFields = () => {
    state.form = {
        bed: '',
        price: '',
        name: '',
        booking_date: <any>[],
        phone: '',
        people: '',
        request_from: 'website',
        uuid: '',
        room: '',
    }
};
const {
    isProcessing,
    ruleFormRef,
    store, t,
    isMobile,
    api,
} = useVariable();

const rules: Record<string, IRule> = ({
    name: { required: true },
    phone: { required: true, isTriggerByChange: true },
    bed: { required: true },
    price: { required: true },
    people: { required: true },
    room: { required: true },
    booking_date: { required: true },
});
const openDialog = (type: string, row = Object) => {
    state.form.name = store.userInfos.userName;
    state.form.phone = store.userInfos.phone;
    if (type === 'edit') {
        Object.assign(state.form, row);
        state.dialog.title = t('edit');
        state.dialog.submit = t('submit');
    } else {
        state.dialog.title = t('booking');
        state.dialog.submit = t('submit');
    }
    state.dialog.type = type;
    state.dialog.isShowDialog = true;
};
const emit = defineEmits(['refresh']);
const submitProcess = async () => {
    isProcessing.value = true;
    try {
        const request = {
            name: state.form.name,
            phone: state.form.phone,
            price: state.form.price,
            bed: state.form.bed,
            room: state.form.room,
            people: state.form.people,
            booking_date: state.form.booking_date,
            request_from: state.form.request_from,
            owner_uuid: props.owner_uuid,
        };

        const response = await api.saveRequestBooking(request);
        if (response.code !== EnumApiErrorCode.success) {
            messageNotification(t(response.message), EnumMessageType.Error);
        } else {
            messageNotification(t('success'), EnumMessageType.Success);
            resetFields();
            state.dialog.isShowDialog = false;
            emit('refresh');
        }
    } catch (e) {
        //TODO handle the exception
    }
    isProcessing.value = false;
};
const disabledDate = (time: Date) => {
    // Get the current date
    const currentDate = new Date();
    // Set the time of currentDate to 00:00:00 to ignore time
    currentDate.setHours(0, 0, 0, 0);
    // Set the time of the provided time parameter to 00:00:00 to ignore time
    const providedDate = new Date(time);
    providedDate.setHours(0, 0, 0, 0);
    return providedDate.getTime() < currentDate.getTime();
}
const formRules = formHelper.getRules(rules);
const onSubmit = formHelper.getSubmitFunction(submitProcess);
defineExpose({
    openDialog,
});
</script>
<template>
    <div>
        <el-dialog :style="{ width: isMobile ? '95%' : '70%' }"
            style="max-height: 90%; --el-dialog-margin-top: 5vh; overflow-y: scroll;" @close="resetFields"
            destroy-on-close v-model="state.dialog.isShowDialog" append-to-body :close-on-click-modal="false"
            :title="state.dialog.title">
            <el-form :label-position="'top'" ref="ruleFormRef" :model="state.form" :rules="formRules"
                class="grid md:grid-cols-2 grid-cols-1 gap-x-5 gap-y-0">
                <el-form-item prop="request_name" :label="$t('username')">
                    <el-input type="text" disabled v-model="state.form.name" :placeholder="$t('username')" />
                </el-form-item>
                <el-form-item prop="phone" :label="$t('phone')">
                    <el-input type="text" v-model="state.form.phone" :placeholder="$t('phone')" />
                </el-form-item>
                <el-form-item prop="price" :label="$t('price')">
                    <el-input type="number" v-model="state.form.price" :placeholder="$t('roomPriceInList')" />
                </el-form-item>
                <el-form-item prop="bed" :label="$t('bed')">
                    <el-select type="number" v-model="state.form.bed" :placeholder="$t('selectBed')">
                        <el-option v-for="i in 3" :key="i" :value="i">{{ i }} {{ $t('bed') }}</el-option>
                    </el-select>
                </el-form-item>
                <el-form-item prop="room" :label="$t('roomAmount')">
                    <el-select v-model="state.form.room" :placeholder="$t('selectRoom')">
                        <el-option v-for="(i, index) in 10" :key="index" :value="i">{{ i }} {{ $t('room')
                            }}</el-option>
                    </el-select>
                </el-form-item>
                <el-form-item prop="people" :label="$t('amountPeople')">
                    <el-input type="number" :placeholder="$t('amountPeople')" v-model="state.form.people"></el-input>
                </el-form-item>
                <el-form-item prop="booking_date" :label="$t('bookingDate')">
                    <el-date-picker :disabled-date="disabledDate" style="width: 100%;" v-model="state.form.booking_date"
                        value-format="YYYY-MM-DD" type="dates" :placeholder="$t('pickDate')" />
                </el-form-item>
            </el-form>
            <template #footer>
                <div class="dialog-footer">
                    <el-button type="primary" @click="onSubmit(ruleFormRef)" :loading="isProcessing">
                        {{ $t(state.dialog.submit) }}
                    </el-button>
                </div>
            </template>
        </el-dialog>
    </div>
</template>