<script lang="ts" setup></script>

<template>
  <div class="mx-auto pcContainer mb:mb-16 md:py-5 py-3">
    <BlockCard v-bind:pageName="'visit'"/>
  </div>
</template>
<style lang="scss" scoped></style>