<script lang="ts" setup>

const { api } = useVariables();
const state = reactive({
  data: {} as any,
  loading: false,
});
const getCompanyRule = async () => {
  state.loading = true;
  const request = {
    key: 'private_policy'
  }
  const response = await api.getCompanyRule(request);
  if (response.code !== 0) {
    console.log(response);
  } else {
    state.data = response.data;
  }
  state.loading = false;
};
onMounted(() => {
  getCompanyRule();
})
</script>

<template>
 <div>
  <div class="mx-auto pcContainer mb:mb-16 md:py-5 py-3">
   <div class="min-h-[80vh]">
    <h2 class="text-xl font-semibold">{{ $t('privatePolicy') }}</h2>
    <div class="mt-2" v-html="state.data?.value" v-loading="state.loading"></div>
   </div>
  </div>
 </div>
</template>