<script setup lang="ts">

import { onMounted, reactive } from "vue";
import useVariable from "~/composables/useVariables";
import EnumApiErrorCode from "~/models/enums/enumApiErrorCode";
import useAuthApi from "~/api/auth";
import { messageNotification } from "~/libraries/elementUiHelpers/notificationHelper";
import EnumMessageType from "~/models/enums/enumMessageType";

const { openDialogRef, onOpenEditDialog, isMobile, t } = useVariable();
const api = useAuthApi();
const state = reactive({
  tableData: {
    data: [],
    page: {
      page: 0,
      pageSize: 10,
    },
    total: 0,
    loading: false,
    search: '',
  }
});
const getTableData = async () => {
  state.tableData.loading = true;
  const response = await api.getMyBooking(state.tableData.page);
  if (response.code !== EnumApiErrorCode.success) {
    console.log(response);
  } else {
    state.tableData.data = response.data.data;
    state.tableData.total = response.data.total;
    state.tableData.loading = false;
  }
};
const deleteRow = async (row: Object) => {
  const response = await api.deletePostArticle(row)
  if (response.code === EnumApiErrorCode.success) {
    messageNotification(t('success'), EnumMessageType.Success);
    getTableData();
  } else {
    messageNotification(response.message, EnumMessageType.Error);
  }
};
const onSystem = (row: object, key: string) => {
  if (key === 'edit') {
    onOpenEditDialog(key, row);
  } else {
    deleteRow(row)
  }
};
const handleCurrentChange = (val: number) => {
  state.tableData.page.page = val;
  getTableData();
}
const handleSizeChange = (val: number) => {
  state.tableData.page.pageSize = val;
  getTableData();
};
onMounted(() => {
      getTableData();
    }
);
</script>

<template>
	<el-card shadow="never">
		<el-table
				:data="state.tableData.data" v-loading.lock="state.tableData.loading"
				:height="`calc(80vh - 160px)`"
		>
			<el-table-column type="index" :label="$t('numberSign')" width="60"/>
			<el-table-column prop="price" :label="$t('price')" min-width="160">
				<template #default="props">
					<div class="danger">{{ props.row.price }} $</div>
				</template>
			</el-table-column>
			<el-table-column prop="room" :label="$t('room')" min-width="160"/>
			<el-table-column prop="booking_date" :label="$t('bookingDate')" min-width="160"/>
			<el-table-column prop="created_at" :label="$t('createdAt')" min-width="160">
				<template #default="props"> {{ props.row.created_at.split('T')[0] }}</template>
			</el-table-column>
			<el-table-column :label="$t('bookingStatus')" min-width="140">
				<template #default="prop">
					<el-tag v-if="prop.row.booking_status === 'pending'" type="warning"> {{ prop.row.booking_status }}</el-tag>
					<el-tag v-else-if="prop.row.booking_status === 'rejected'" type="danger"> {{
							prop.row.booking_status
						}}
					</el-tag>
					<el-tag v-else type="success"> {{ prop.row.booking_status }}</el-tag>
				</template>
			</el-table-column>

		</el-table>
		<el-pagination class="mt-5" v-model:current-page="state.tableData.page.page"
		               v-model:page-size="state.tableData.page.pageSize" :page-sizes="[10, 25, 50, 75, 100]" size="small"
		               background
		               layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange"
		               @current-change="handleCurrentChange" :total="state.tableData.total"/>
	</el-card>
</template>
<style lang="scss"></style>