<script lang="ts" setup></script>
<template>
    <div class="bg-primary md:h-[250px] h-[270px] w-full grid place-content-center ">
        <div class="mx-auto pcContainer">
            <div class="grid md:grid-cols-2 grid-cols-1 md:gap-0 gap-3 items-center">
                <div class="flex flex-col">
                    <div class="flex flex-col text-white gap-3">
                        <div class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-semibold">Find your plan to go</div>
                        <div class="text-lg md:text-2xl"> Search deals on hotels, homes, and much more... </div>
                    </div>
                </div>
                <div class="md:w-full w-[400px]">
                    <Carousel />
                </div>
            </div>
        </div>
    </div>
</template>