<script setup lang="ts">
import { Post, type IPost } from '~/models/IPost';
import CardBlock from "~/components/card-block.vue";
import useApi from "~/api/api";

const api = useApi()
const props = defineProps({
	pageName: {
		type: String,
		default: () => '',
	},
});

const state = reactive({
	page: 1,
	pageSize: 40,
	total: 0,
	data: <IPost[]>[],
	filters: {
		province_id: 'all',
		place_type: '',
		filter_by: '',
		minPrice: null,
		maxPrice: null,
		search: '',
	},
	loading: false,
	placeType: [],
})
const config = useRuntimeConfig();
const route = useRoute();
const fetchEachPageData = async () => {
	try {
		state.loading = true;
		// const type =
		const request = {...state.filters, page: state.page, pageSize: state.pageSize, type: props.pageName}
		const response = await api.getEachPageData(request);
		state.data = response.data;
		state.total = response.total
	} catch (e) {
		console.log(e)
	} finally {
		state.loading = false
	}
};
const onHandleSizeChange = (val: number) => {
	state.pageSize = val;
	fetchEachPageData()
};
const onHandleCurrentChange = (val: number) => {
	state.page = val;
	fetchEachPageData()
};
onMounted(() => {
	fetchEachPageData()
	getPlaceType()
});
watch(() => state.filters, () => fetchEachPageData(), { deep: true });
const getPlaceType = async () => {
	try {
		const request = {
			type: route.name,
		};
		const res = await api.getPlaceByType(request);
		state.placeType = res.data;
	} catch (error) {
		console.log(error);
	}
};
</script>
<template>
	<div>
		<Highlight
				v-model:search="state.filters"
				v-model:searchTitle="state.filters.search"
				:place-types="state.placeType"
		/>
		<CardBlock :data="state.data" :loading="state.loading"/>
		<div class="flex justify-end md:mt-5 mt-4">
			<el-pagination style="text-align: right" background @size-change="onHandleSizeChange"
			               @current-change="onHandleCurrentChange" :page-sizes="[40, 60, 80, 100, 120]"
			               v-model:current-page="state.page" size="small" v-model:page-size="state.pageSize"
			               layout="total, sizes, prev, pager, next" :total="state.total">
			</el-pagination>
		</div>
	</div>
</template>
