<script lang="ts" setup>
import { Navigation, Autoplay, EffectFade, Pagination } from 'swiper/modules';

const modules = [EffectFade, Autoplay, Navigation, Pagination];
const props = defineProps({
  autoplay: {
    type: Object,
    default: () => {
    },
  },
  data: {
    type: Array,
    default: () => [],
  },
});
</script>
<template>
  <div v-if="props.data.length">
    <swiper :slidesPerView="1" :navigation="true" :loop="false" :autoplay="false" :pagination="false"
            :breakpoints="{
              '640': { slidesPerView: 2, spaceBetween: 0 },
              '768': { slidesPerView: 3, spaceBetween: 0 },
              '1024': { slidesPerView: 3, spaceBetween: 0 },
              }"
            :modules="modules">
      <swiper-slide v-for="(item, index) in props.data" :key="index">
        <div class="flex flex-wrap -m-4 ">
          <div class="p-6 md:p-7 w-full">
            <div class="cursor-pointer" @click="$router.push(`/blog/detail?key=${item.uuid}`)">
              <div class="shadow-md rounded-lg transform transition duration-500 hover:scale-[1.05]">
                <img class="h-56 w-full object-cover object-center rounded-t-md" :src="item?.image" alt="lading">
                <div class="px-4 py-2">
                  <div class="mb-2">
                    <h2 class="title-font font-medium text-base md:text-lg line-clamp-1">{{ item.title }}</h2>
                    <p class="leading-relaxed text-sm md:text-base break-words line-clamp-2">{{ item.address }}</p>
                  </div>
                  <div class="footer flex justify-between items-center">
                    <div class="flex gap-1 items-center">
                      <Icon name="i-heroicons-hand-thumb-up" class="text-primary text-xl"/>
                      <span class="text-sm">{{ item.like }}</span>
                    </div>
                    <div class="flex gap-1 items-center">
                      <span class="text-sm">{{ item.cmt }}</span>
                      <Icon name="i-heroicons-chat-bubble-oval-left-ellipsis"/>
                      <span class="text-sm">{{ item.view }}</span>
                      <Icon name="i-heroicons-eye"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>
<style lang="scss" scoped>
// .swiper-button-prev {
//   @apply primary bg-white rounded-full w-10 h-10;
// }

// .swiper-button-prev:after {
//   font-size: 20px;
// }

// .swiper-button-next {
//   @apply primary bg-white rounded-full w-10 h-10;
// }

// .swiper-button-next:after {
//   font-size: 20px;
// }
</style>