<script setup lang="ts">
const props = defineProps({
  data: {
    type: Array,
    default: [],
  },
  loading: {
    type: Boolean,
    default: false,
  },
});
const colorMode = useColorMode()
const isDark = computed({
  get() {
    return colorMode.value === 'dark'
  },
  set() {
    colorMode.preference = colorMode.value === 'dark' ? 'light' : 'dark'
  }
})
</script>

<template>
  <div>
    <Skeleton :isLoading="props.loading" :mdGrid="'4'" :smGrid="'2'" :data="8"/>
    <div class="flex justify-center items-center py-10" v-if="!props.data.length">
      <el-empty :description="$t('noData')" :image-size="200"/>
    </div>
    <div class="grid md:grid-cols-4 grid-cols-2 mt-5 md:gap-4 gap-10 md:py-2 py-5 md:px-0 px-4">
      <div class="flex flex-wrap -m-4" v-for="(item, index) in props.data" :key="index">
        <div class="p-1 md:p-6 w-full">
          <div class="cursor-pointer" @click="$router.push(`/detail?key=${item.uuid}`)">
            <div :class="isDark ? 'border-2 border-indigo-800': ''" class="shadow-md  rounded-lg transform transition duration-500 hover:scale-[1.05] h-64 md:h-80">
              <img class="h-36 md:h-48 w-full object-cover object-center rounded-t-md"
                   :src="item.images[0]?.url" alt="lading">
              <div class="px-4 py-2">
                <div class="mb-2">
                  <div
                      class="flex justify-end items-center gap-1 text-xs absolute top-0 left-0 bg-primary px-1 py-0.5 rounded-bl-md"
                      v-if="item?.price">
                    <span class="text-white">{{ $t('priceStarts') }}</span>
                    <span class="danger font-semibold">{{ item.price }}$</span>
                  </div>
                  <div class="flex justify-end items-center gap-1 text-xs absolute top-0 right-0 bg-warning px-1 py-0.5 rounded-bl-md">
                    <span class="text-white text-xs">{{ $t(`heighLight.provinces.${item?.category.key}`) }} </span>
                  </div>
                  <h2 class="title-font font-medium text-base md:text-lg text-cool truncate">
                    {{ item.title }}</h2>
                  <p class="leading-relaxed text-sm md:text-base break-words line-clamp-2">
                    {{ item.address }}</p>
                </div>
                <div class="footer flex justify-between items-center absolute bottom-2 left-0 right-0 px-4">
                  <div class="flex gap-1 items-center">
                    <Icon name="i-heroicons-hand-thumb-up" class="text-primary text-xl" />
                    <span class="text-sm">{{ item.likes_count }}</span>
                  </div>
                  <div class="flex gap-2 items-center">
                    <div class="flex gap-1 items-center">
                      <Icon name="icon-park-outline:message-one" class="text-xl" />
                      <span class="text-sm">{{ item.comments_count }}</span>
                    </div>
                    <div class="flex gap-1 items-center">
                      <Icon name="icon-park-outline:preview-open" class="text-xl" />
                      <span class="text-sm">{{ item.view }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
