<script lang="ts" setup>
const slides = [
    'https://s3.ap-southeast-1.amazonaws.com/storage.camboticket.com/campaign2024/ebooking20.jpg',
    'https://s3.ap-southeast-1.amazonaws.com/storage.camboticket.com/campaign2021/ReferralCode_Banner.jpg',
    'https://s3.ap-southeast-1.amazonaws.com/storage.camboticket.com/banners/Ebooking+giveaway%E2%80%8B%E2%80%8B+banners...jpg'
]
</script>
<template>
    <Swiper :modules="[SwiperAutoplay, SwiperEffectCreative]" :slides-per-view="1" :loop="true" :effect="'creative'"
        :autoplay="{
            delay: 4000,
            disableOnInteraction: true,
            pauseOnMouseEnter: true,
        }"
        :grabCursor="true"
        :creative-effect="{
            prev: {
                shadow: false,
                translate: ['-20%', 0, -80],
            },
            next: {
                translate: ['100%', 0, 0],
            },
}">
        <SwiperSlide v-for="(slide, index) in slides" :key="index">
            <div class="flex items-center">
                <img class="rounded-xl" :src="slide"
                    alt="">
            </div>
        </SwiperSlide>
    </Swiper>
</template>
<style lang="sccs" scoped>
</style>