<script setup>
const colorMode = useColorMode()

const isDark = computed({
  get() {
    return colorMode.value === 'dark'
  },
  set() {
    colorMode.preference = colorMode.value === 'dark' ? 'light' : 'dark'
  }
})
</script>

<template>
  <ClientOnly>
    <Icon class="cursor-pointer" @click="isDark = !isDark" size="22"
      :name="isDark ? 'i-heroicons-moon-20-solid' : 'i-heroicons-sun-20-solid'"></Icon>
  </ClientOnly>
</template>
