<script setup lang="ts">
// const config = useAppConfig();

const themeColors = [
    {
        label: 'red',
        icon: 'i-heroicons-swatch',
        color: '#F87171',
    },
    {
        label: 'orange',
        icon: 'i-heroicons-swatch',
        color: '#FB923C',
    },
    {
        label: 'amber',
        icon: 'i-heroicons-swatch',
        color: '#FBBF24',
    },
    {
        label: 'lime',
        icon: 'i-heroicons-swatch',
        color: '#84CC16',
    },
    {
        label: 'green',
        icon: 'i-heroicons-swatch',
        color: '#A3E635',
    },
    {
        label: 'teal',
        icon: 'i-heroicons-swatch',
        color: '#2DD4BF',
    },
    {
        label: 'cyan',
        icon: 'i-heroicons-swatch',
        color: '#22D3EE',
    },
    {
        label: 'sky',
        icon: 'i-heroicons-swatch',
        color: '#38BDF8',
    },
    {
        label: 'blue',
        icon: 'i-heroicons-swatch',
        color: '#3B82F6',
    },
    {
        label: 'indigo',
        icon: 'i-heroicons-swatch',
        color: '#818CF8',
    },
    {
        label: 'purple',
        icon: 'i-heroicons-swatch',
        color: '#C084FC',
    },
    {
        label: 'pink',
        icon: 'i-heroicons-swatch',
        color: '#F472B6',
    },
    {
        label: 'rose',
        icon: 'i-heroicons-swatch',
        color: '#FB7185',
    },
];
const onChangeColor = (color: string) => {
    // config.ui.primary = color;
};
</script>
<template>
    <el-dropdown>
        <Icon name="i-heroicons-swatch" class="primary" size="22" />
        <template #dropdown>
            <el-dropdown-menu>
                <el-dropdown-item v-for="(color, index) in themeColors" :key="index">
                    <div class="flex justify-between items-center w-32" @change="onChangeColor(color.color)">
                        <span>{{ color.label }}</span>
                        <Icon name="i-heroicons-swatch" :style="{ color: color.color}" size="20" />
                    </div>
                </el-dropdown-item>
            </el-dropdown-menu>
        </template>
    </el-dropdown>
</template>
<style scoped>
.example-showcase .el-dropdown-link {
    cursor: pointer;
    color: var(--el-color-primary);
    display: flex;
    align-items: center;
}
</style>