<script setup lang="ts">
const { api, route, ruleFormRef, t } = useVariables()
const state = reactive({
  form: {
    id: null,
    pId: 0,
    comment: '',
  },
  loading: false
});
const emit = defineEmits(['refresh']);
const saveComment = async () => {
  if (!state.form.comment && !prop.editComment.comment) return;
  try {
	  state.loading = true;
	  const request = {
		  id: state.form.comment ? null : prop.editComment.id,
		  p_id: state.form.pId,
		  comment: state.form.comment ? state.form.comment : prop.editComment.comment,
		  post_uuid: route.query.key,
	  };
    const response = await api.saveComment(request);
    if (response.code === 0) {
      emit('refresh');
    }
  } catch (e) {}
  finally {
	  state.loading = true;
  }
};
const prop = defineProps({
  editComment: {
    type: Object,
    default: () => { },
  }
})
watch(() => prop.editComment.comment, (editComm) => {
  if(editComm) {
    state.form.comment = ''
  }
})
defineExpose({
  saveComment,
})
</script>

<template>
  <el-form ref="ruleFormRef" :model="state.form" label-position="top" :disabled="state.loading" status-icon>
    <el-form-item>
      <el-input rows="4" v-model="state.form.comment" type="textarea" placeholder="Write your comments..." />
    </el-form-item>
    <el-button type="primary" @click="saveComment()" :loading="state.loading">Post comment</el-button>
  </el-form>
</template>

<style scoped lang="scss"></style>