<script lang="ts" setup>
interface ISearch {
	province_id: string | number,
	place_type: string,
	filter_by: string,
	minPrice: number | null,
	maxPrice: number | null,
	search: string,
}
const props = defineProps({
	placeTypes: {
		type: Array,
		default: () => [],
	},
})
const { store, isMobile, route } = useVariables();
const state = reactive({
	filters: <ISearch>{
		province_id: '',
		place_type: '',
		minPrice: route?.name === 'hotel' ? 10 : null,
		maxPrice: route?.name === 'hotel' ? 50 : null,
		search: ''
	},
	price_range: [0, 50],
});
const collections = [
	{
		label: 'all',
		icon: 'i-heroicons-globe-alt',
	},
	{
		label: 'trending',
		icon: 'i-heroicons-arrow-trending-up',
	},
	{
		label: 'user',
		icon: 'i-heroicons-user-group',
	},
	{
		label: 'owner',
		icon: 'i-heroicons-building-storefront',
	},
	{
		label: 'admin',
		icon: 'i-heroicons-computer-desktop',
	},
];
const selectIndex = ref({
	label: 'all',
	icon: 'i-heroicons-globe-alt',
});
const onSelectTab = (index: number) => {
	selectIndex.value = collections[index];
	state.filters.search = '';
	if (selectIndex.value.label === 'all') {
		state.filters.filter_by = '';
	} else {
		state.filters.filter_by = selectIndex.value.label;
	}

};

const emit = defineEmits(['update:search', 'update:searchTitle']);
watch(() => state.filters, () => {
	emit('update:search', state.filters)
}, { deep: true });
let debounceTimer: any  = null;
watch(() => state.price_range, (newVal) => {
	if (newVal) {
		clearTimeout(debounceTimer);
		debounceTimer = setTimeout(() => {
			state.filters.minPrice = newVal[0];
			state.filters.maxPrice = newVal[1];
			emit('update:search', state.filters);
		}, 500); // 0.50 seconds debounce
	}
});
const searchTitle = ref('');
watchEffect((onInvalidate) => {
	let timeOut: any = null;
	if (searchTitle.value.length > 0) {
		clearTimeout(timeOut);
		timeOut = setTimeout(() => {
			console.log(searchTitle.value);
			emit('update:searchTitle', searchTitle.value);
		}, 500);
		onInvalidate(() => {
			clearTimeout(timeOut);
		});
	} else {
		emit('update:searchTitle', searchTitle.value);
	}
});

interface Mark {
	style: CSSProperties
	label: string
}

type Marks = Record<number, Mark | string>

const marks = reactive<Marks>({
	10: '10$',
	50: '50$',
	100: '100$',
	250: '250$',
	500: '500$',
})
</script>
<template>
	<div class="grid place-content-center">
		<div class="text-xl md:text-3xl text-center font-semibold md:pb-5 pb-3">{{ $t('heighLight.explorePlaces') }}</div>
		<div class="flex md:flex-col flex-col  items-center gap-3">
			<div class="grid grid-cols-2 md:grid-cols-3 gap-2 place-content-center">
				<el-select v-model="state.filters.province_id"
				           :placeholder="$t('heighLight.selectProvince')">
					<el-option :label="$t('heighLight.all')" :value="'all'"/>
					<el-option v-for="(item, index) in store?.categories" :key="index"
					           :label="$t(`heighLight.provinces.${item.key}`)"
					           :value="item.id">
						{{ index + 1 }}. {{ $t(`heighLight.provinces.${item.key}`) }}
					</el-option>
				</el-select>
				<el-select v-model="state.filters.place_type" :placeholder="$t('choosePlaceType')">
					<el-option :label="$t('heighLight.all')" :value="'all'"/>
					<el-option v-for="(item, index) in props.placeTypes" :key="index"
					           :label="$t(`placesType.${item.key}`)"
					           :value="item.key"
					           >
						{{ index + 1 }}. {{ $t(`placesType.${item.key}`) }}
					</el-option>
				</el-select>
				<el-input v-model="searchTitle" type="text"
				          :placeholder="`${$t('navbar.search')}...`"/>
				<div class="slider-demo-block md:col-span-3 col-span-2 mb-2" v-if="route.name === 'hotel'">
					<el-slider :size="isMobile ? 'small' : 'default'" show-stop :step="10"
					           v-model="state.price_range" range :marks="marks" :max="300"/>
				</div>
			</div>
			<el-button-group>
				<el-button @click="onSelectTab(index)" v-for="(but, index) in collections" :key="index"
				           :size="isMobile ? 'small' : 'default'" :type="selectIndex.label === but.label ? 'primary' : 'info'">
					<div class="px-4 flex items-center gap-2">
						<strong class="capitalize">{{ $t('heighLight.' + but.label) }}</strong>
						<Icon size="20" :name="but.icon"/>
					</div>
				</el-button>
			</el-button-group>
		</div>
	</div>
</template>
<style lang="scss">
.el-slider__marks {
	.el-slider__marks-text {
		font-size: 11px;
	}
}

.el-select-dropdown__wrap {
	max-height: 400px;
}
</style>