<script setup lang="ts">
import { useStore } from "~/store";

const { locale, setLocale, locales } = useI18n();
const props = defineProps({
  size: {
    type: String,
    default: () => '120px',
  },
  type: {
    type: String,
    default: () => 'default',
  }
});
const store = useStore();
onMounted(() => {
	onInitLang()
});
const onInitLang = () => {
	const lang: any = store.$state.lang;
	setLocale(lang)
}
const changeLanguage = (lang: Record<string, any>) => {
		store.updateLocale(lang.code)
	  setLocale(lang.code)
}
</script>
<template>
<div>
  <el-select v-model="locale" :style="{ width: props.size }" :size="props.type">
    <el-option v-for="item in locales" :key="item.value" :value="item.code" :label="item.name">
      <div class="flex gap-2 items-center justify-center w-20" @click="changeLanguage(item)">
        <span> {{ item.name }}</span>
        <Icon class="w-28"
              :name="item.name === 'English' ? 'flag:gb-4x3' : item.name === '中文' ? 'flag:cn-4x3' : 'flag:kh-4x3'"/>
      </div>
    </el-option>
  </el-select>
</div>
</template>