<script lang="ts" setup>
import { Navigation, Autoplay, EffectFade, Pagination } from 'swiper/modules';
import type { IPost } from "~/models/IPost";

const modules = [EffectFade, Autoplay, Navigation, Pagination];

const props = defineProps({
  autoplay: {
    type: Object,
    default: () => { },
  },
  data: {
    type: Array,
    default: () => <IPost[]>[],
  },
});
const colorMode = useColorMode()
const isDark = computed({
  get() {
    return colorMode.value === 'dark'
  },
  set() {
    colorMode.preference = colorMode.value === 'dark' ? 'light' : 'dark'
  }
})
</script>
<template>
  <div v-if="props.data.length">
    <swiper :slidesPerView="2" :navigation="{ prevEl: '.swiper-arrow-left', nextEl: '.swiper-arrow-right' }"
      :speed="10000" :free-mode="true" :loop="true" :autoplay="props.autoplay" :pagination="false"
      :breakpoints="{ '640': { slidesPerView: 2, spaceBetween: 0, }, '768': { slidesPerView: 3, spaceBetween: 0 }, '1024': { slidesPerView: 4, spaceBetween: 0 } }"
      :modules="modules" ref="swiperClick">
      <swiper-slide v-for="(item, index) in props.data" :key="index">
        <div class="flex flex-wrap -m-4">
          <div class="p-6 md:p-7 w-full">
            <div class="cursor-pointer" @click="$router.push(`/detail?key=${item.uuid}`)">
              <div  :class="isDark ? 'border-2 border-indigo-800': ''" class="shadow-md rounded-lg transform transition duration-500 hover:scale-[1.05] h-64 md:h-80 relative">
                <img class="h-36 md:h-48 w-full object-cover object-center rounded-t-md" :src="item.images[0]?.url"
                  alt="loading...">
                <div class="px-4 py-2">
                  <div class="mb-2">
                    <div
                        class="flex justify-end items-center gap-1 text-xs absolute top-0 left-0 bg-primary px-1 py-0.5 rounded-bl-md"
                        v-if="item?.price">
                      <span class="text-white">{{ $t('priceStarts') }}</span>
                      <span class="danger font-semibold">{{ item.price }}$</span>
                    </div>
                    <div class="flex justify-end items-center gap-1 text-xs absolute top-0 right-0 bg-warning px-1 py-0.5 rounded-bl-md">
                      <span class="text-white text-xs">{{ $t(`heighLight.provinces.${item.category.key}`) }} </span>
                    </div>
                    <h2 class="title-font font-medium text-base md:text-lg text-cool line-clamp-1">{{ item.title }}</h2>
                    <p class="leading-relaxed text-sm md:text-base break-words line-clamp-2">{{ item.address }}</p>
                  </div>
                  <div class="footer flex justify-between items-center absolute bottom-2 left-0 right-0 px-4">
                    <div class="flex gap-1 items-center">
                      <Icon name="i-heroicons-hand-thumb-up" class="text-primary text-xl" />
                      <span class="text-sm">{{ item.likes_count }}</span>
                    </div>
                    <div class="flex gap-2 items-center">
                      <div class="flex gap-1 items-center">
                        <Icon name="icon-park-outline:message-one" class="text-xl" />
                        <span class="text-sm">{{ item.comments_count }}</span>
                      </div>
                      <div class="flex gap-1 items-center">
                        <Icon name="icon-park-outline:preview-open" class="text-xl" />
                        <span class="text-sm">{{ item.view }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>