<template>
  <div class="layout-search-dialog">
    <el-dialog
        v-model="isDialog"
        destroy-on-close
        :show-close="false"
        @close="closeSearch"
    >
      <template #footer>
        <el-autocomplete
            size="large"
            v-model="state.menuQuery"
            :fetch-suggestions="menuSearch"
            class="md:w-[560px] w-[350px]"
            :placeholder="$t('search')"
            ref="layoutMenuAutocompleteRef"
            @select="onHandleSelect"
            :fit-input-width="true"
        >
          <template #prefix>
            <Icon name="i-heroicons-magnifying-glass" size="20"/>
          </template>
          <template #default="{ item }">
            <div class="text-sm py-2 truncate flex items-center gap-2 align-middle">
              {{ item.title }}
            </div>
          </template>
        </el-autocomplete>
      </template>
    </el-dialog>
  </div>
</template>

<script setup lang="ts" name="layoutBreadcrumbSearch">
import { messageNotification } from "~/libraries/elementUiHelpers/notificationHelper";
import EnumApiErrorCode from "~/models/enums/enumApiErrorCode";
import EnumMessageType from "~/models/enums/enumMessageType";

const prop = defineProps({
  isSearch: {
    type: Boolean,
    default: () => false,
  },
});
const emit = defineEmits(["update:isSearch"]);
const isDialog = computed(() => prop.isSearch);
const layoutMenuAutocompleteRef = ref();
const { t, api, router, isLoading } = useVariables();
const state = reactive<any>({
  menuQuery: "",
  tagsViewList: [],
});

// Search pop-up window opens
const openSearch = () => {
  state.menuQuery = state.menuQuery;
  initTageView();
  nextTick(() => {
    setTimeout(() => {
      layoutMenuAutocompleteRef.value.focus();
    });
  });
};
// Search popup closes
const closeSearch = () => {
  emit("update:isSearch", false);
};
// Menu search data filtering
const menuSearch = (queryString: string, cb: Function) => {
  let results = queryString
      ? state.tagsViewList.filter(createFilter(queryString))
      : state.tagsViewList;
  cb(results);
};
// Menu search filter
const createFilter = (queryString: string) => {
  return (restaurant: any) => {
    return (
        restaurant.title.toLowerCase().indexOf(queryString.toLowerCase()) > -1 ||
        restaurant.title!.toLowerCase().indexOf(queryString.toLowerCase()) > -1 ||
        restaurant!.title!.indexOf(queryString.toLowerCase()) > -1
    );
  };
};
// Initialize menu data
const initTageView = async () => {
  isLoading.value = true;
  const request = {
    title: state.menuQuery,
  };
  const response = await api.getSearchPost(request);
  if (response.code !== EnumApiErrorCode.success) {
    messageNotification(t(response.message), EnumMessageType.Error);
  } else {
    state.tagsViewList = [];
    response.data.map((v: any) => state.tagsViewList.push({ ...v }));
  }
  isLoading.value = false;
};
// When the current menu is selected
const onHandleSelect = (item: any) => {
  router.push(`/detail?key=${item.uuid}`);
  closeSearch();
};

watch(
    () => isDialog.value,
    (newValue) => {
      if (newValue) {
        openSearch();
      }
    }
);
// watchEffect((onInvalidate) => {
//   let timeOut = null;
//   if (state.menuQuery.length > 0) {
//     clearTimeout(timeOut);
//     timeOut = setTimeout(() => {
// 		initTageView();
//     }, 600);
//     onInvalidate(() => {
//       clearTimeout(timeOut);
//     });
//   } else {
// 	initTageView();
//   }
// });
let timeOut = null;
watch(
    () => state.menuQuery,
    (newQuery) => {
      if (newQuery) {
        clearTimeout(timeOut); // clear the previous timeout
        timeOut = setTimeout(() => {
          initTageView();
        }, 500);
      } else {
        clearTimeout(timeOut); // clear the previous timeout
        initTageView();
      }
    }
);
onMounted(() => {
  initTageView();
});
</script>

<style scoped lang="scss">
.layout-search-dialog {
  position: relative;

  :deep(.el-dialog) {
    --el-dialog-bg-color: transparent;
    --el-dialog-box-shadow: none;
    /* No color at all */
    .el-dialog__header,
    .el-dialog__body {
      display: none;
    }

    .el-dialog__footer {
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -25vh;
    }
  }

  :deep(.el-autocomplete) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
</style>
