<script setup lang="ts">
const props = defineProps({
    isLoading: {
        type: Boolean,
        default: () => false,
    },
    mdGrid: {
        type: String,
        default: '4'
    },
    smGrid: {
        type: String,
        default: () => '2',
    },
    data: {
        type: Number,
        default: () => 4,
    }
})
const { isMobile } = useVariables();
</script>
<template>
    <div class="grid md:gap-7 gap-4 mt-5" :class="`md:grid-cols-${props.mdGrid} grid-cols-${props.smGrid}`" v-if="props.isLoading">
        <el-skeleton animated v-for="i in props.data" :key="i">
            <template #template>
                <el-skeleton-item variant="image" :style="{ height: isMobile ? '140px' : '220px', borderRadius: '10px'}"/>
                <div style="padding: 14px">
                    <el-skeleton-item variant="p" style="width: 50%" />
                    <div style="
            display: flex;
            align-items: center;
            justify-items: space-between;
          ">
                        <el-skeleton-item variant="text" style="margin-right: 16px" />
                        <el-skeleton-item variant="text" style="width: 30%" />
                    </div>
                </div>
            </template>
        </el-skeleton>
    </div>
</template>