<script lang="ts" setup>
import { signInWithPopup, FacebookAuthProvider } from "firebase/auth";
import useAuth from "~/composables/auth/useAuth";
import { auth, facebookProvider, googleProvider } from "~/firebase";
import { messageNotification, notification } from "~/libraries/elementUiHelpers/notificationHelper";
import EnumApiErrorCode from "~/models/enums/enumApiErrorCode";
import EnumMessageType from "~/models/enums/enumMessageType";

const { isProcessing, api, t, router } = useVariables();
const { authFunc } = useAuth();
const props = defineProps({
  isLoading: {
    type: Boolean,
    default: () => false,
  }
});
const emit = defineEmits(['update:isLoading']);
const onLoginGoogle = () => {
  emit('update:isLoading', true);
  signInWithPopup(auth, googleProvider)
    .then(async (data) => {
      let user = data.user.providerData[0];
      const request: any = {
        userName: user.displayName?.toLowerCase().replace(/\s/g, ''),
        email: user.email,
        phone: Number(user.phoneNumber),
        g_id: Number(user.uid),
        profile: user.photoURL,
        password: '',
        password_confirmation: '',
      }
      const response = await api.rgWithGoogle(request)
      try {
        if (response.code === EnumApiErrorCode.success) {
          messageNotification(t('success'), EnumMessageType.Success);
          authFunc(response.data);
          router.back()
        } else {
          notification(t(response.Message), EnumMessageType.Warning);
        }
      } catch (e) {
        console.log('error: ', e);
      }
    })
    .catch((error) => {
      console.log('google-error: ', error);
    });
};
const onLoginFacebook = async () => {
  isProcessing.value = true;
  signInWithPopup(auth, facebookProvider)
    .then(async (data) => {
      console.log(data);
      return;
      let user: any = data.user.providerData[0];
      const credential = FacebookAuthProvider.credentialFromResult(user);

      fetch(`https://graph.facebook.com/${data.user.providerData[0].uid}/picture?type=large&access_token=${credential?.accessToken}`)
        .then((response) => response.blob())
      //     .then(async (blob) => {
      //         let file = new File([blob], "name");
      //         /* create a reader */
      //         const readData = (f: File) => new Promise((resolve) => {
      //             const reader = new FileReader();
      //             reader.onloadend = () => resolve(reader.result);
      //             reader.readAsDataURL(f);
      //         });
      //         /* Read data */
      //         const data = await readData(file);
      //         getFBProfile.value = data;
      //     })
      // const request: any = {
      //     name: <string>user.displayName,
      //     email: <string>user.email,
      //     phone: Number(user.phoneNumber),
      //     facebook_id: Number(user.uid),
      //     profile: getFBProfile.value,
      //     password: 'user1234',
      //     password_confirmation: 'user1234',
      // }
      // const response = await apis.registerWithFacebook(request)
      // if (response.ErrorCode === EnumApiErrorCode.Success) {
      //     notificationHelper.notification(t('successfully'), EnumMessageType.Success);
      //     instance.defaults.headers.Authorization = `Bearer ${stores.authorisation.value.token}`;
      // } else {
      //     notificationHelper.notification(t('something_went_wrong'), EnumMessageType.Warning);
      // }
      // IdP data available using getAdditionalUserInfo(result)
    })
    .catch((error) => {
      console.log('fb-error: ', error);
    });
  isProcessing.value = false;
};
const onSuccess = (response: any) => {
  console.log(response);

  // get your auth token and info
}

const onFailure = () => {
  // logic if auth failed
}
</script>
<template>
  <div class="flex justify-end">
    <!-- <el-button plain class="w-full" @click="onLoginFacebook">
        <div class="flex items-center gap-2">
          <Icon name="logos:facebook" size="18" />
          <span>{{ $t('facebook') }}</span>
        </div>
      </el-button> -->
    <el-button class="w-40" plain @click="onLoginGoogle" :loading="props.isLoading">
      <Icon name="logos:google" size="45" />
    </el-button>
  </div>
</template>
<style>
.fb-button {
  display: inline-block;
  margin: 10px 0 10 0;
  color: white;
  background-color: #1967d2;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
}
</style>