<script setup lang="ts">

import useAuthApi from "~/api/auth";

const api = useAuthApi();
const Dialog = defineAsyncComponent(() => import('~/pages/setting/mypost/dialog.vue'));
const prop = defineProps({
  button: {
    type: String,
    default: () => 'default'
  }
});
const { openDialogRef, store, t } = useVariables();
const onUploadButton = async () => {
  try {
    const response = await api.isExpire()
    if (response.code !== 0) {
      return navigateTo('/account/login');
    } else {
      openDialogRef.value.openDialog('add');
    }
  } catch (e) {
    console.log(e);
    return navigateTo('/account/login');
  }
};
</script>
<template>
  <div>
    <Dialog ref="openDialogRef"/>
    <el-button type="warning" round :size="prop.button" @click="onUploadButton">
      <div class="flex gap-2 items-center">
        <Icon size="25" name="i-heroicons-camera" />
        {{ $t('navbar.uploadPost') }}
      </div>
    </el-button>
  </div>
</template>