<script setup lang="ts">
const Dialog = defineAsyncComponent(() => import('~/pages/setting/myprofile/dialog.vue'));
const {
  openDialogRef,
  onOpenEditDialog,
  state,
  isMobile,
  getTableData,
} = useUserProfile();
const onSystem = (row: object, key: string) => {
  if (key === 'edit') {
    onOpenEditDialog(key, row);
  }
};
onMounted(() => {
  getTableData();
})
</script>

<template>
	<el-card shadow="never">
		<el-table :data="[state.tableData.data]" v-loading.lock="state.tableData.loading"
		          :height="`calc(80vh - 160px)`">
			<el-table-column :label="$t('images')">
				<template #default="prop">
					<el-avatar :size="80">
						<el-image :style="{ width: `${prop.row.width}px`, height: `${prop.row.height}px`, borderRadius: `6px` }"
						          :src="prop.row.profile" :zoom-rate="1.2" :preview-src-list="[prop.row.profile]" preview-teleported
						          fit="cover" />
					</el-avatar>
				</template>
			</el-table-column>
			<el-table-column prop="userName" :label="$t('username')" min-width="100" />
			<el-table-column prop="nickname" :label="$t('nickname')" min-width="100" />
			<el-table-column prop="email" :label="$t('email')" width="200" />
			<el-table-column prop="phone" :label="$t('phone')" min-width="120" />
			<el-table-column prop="created_at" :label="$t('createdAt')" min-width="110">
				<template #default="prop">
					<span>{{ prop.row.created_at?.split('T')[0] }}</span>
				</template>
			</el-table-column>
			<el-table-column :minWidth="isMobile ? 120 : 180" fixed="right">
				<template #default="scope">
					<el-button link type="warning" size="small" @click.prevent="onSystem(scope.row, 'edit')">
						{{ $t('edit') }}
					</el-button>
				</template>
			</el-table-column>
		</el-table>
	</el-card>
	<Dialog ref="openDialogRef" @refresh="getTableData()" />
</template>
<style lang="scss"></style>