<script setup lang="ts">
import { onMounted, reactive } from "vue";
import functionHelper from "~/libraries/formatHelpers/functionHelper";
import useVariable from "~/composables/useVariables";
import EnumApiErrorCode from "~/models/enums/enumApiErrorCode";
import useAuthApi from "~/api/auth";
import { messageNotification } from "~/libraries/elementUiHelpers/notificationHelper";
import EnumMessageType from "~/models/enums/enumMessageType";

const { openDialogRef, onOpenEditDialog, isMobile, t } = useVariable();
const api = useAuthApi();
const state = reactive({
  tableData: {
    data: [],
    page: {
      page: 0,
      pageSize: 10,
    },
    total: 0,
    loading: false,
    search: '',
  }
});
const getTableData = async () => {
  state.tableData.loading = true;
  const response = await api.getPsSaved(state.tableData.page);
  if (response.code !== EnumApiErrorCode.success) {
    console.log(response);
  } else {
    console.log(response.data)
    state.tableData.data = response.data.map((item: any) => {
      if (!item) {
        return { id: 0, ps_id: item.id, title: t('dataHasBeenDeleted'), catName: '', images: [], };
      } else {
        const getMapDisplay = functionHelper.getMapDisplay(item?.embed_link);
        return { ps_id: item.id, getMapDisplay: getMapDisplay, ...item };
      }
    });
    state.tableData.total = response.data.total;
    state.tableData.loading = false;
  }
};
const deleteRow = async (row: any) => {
  const response = await api.deleteSaved({ id: row.ps_id })
  if (response.code === EnumApiErrorCode.success) {
    messageNotification(t('success'), EnumMessageType.Success);
    getTableData();
  } else {
    messageNotification(response.message, EnumMessageType.Error);
  }
};
const onSystem = (row: object, key: string) => {
  if (key === 'edit') {
    onOpenEditDialog(key, row);
  } else {
    deleteRow(row)
  }
};
const handleCurrentChange = (val: number) => {
  state.tableData.page.page = val;
  getTableData();
}
const handleSizeChange = (val: number) => {
  state.tableData.page.pageSize = val;
  getTableData();
};
onMounted(() => {
      getTableData();
    }
);
</script>

<template>
	<el-card shadow="never">
		<el-table
				:data="state.tableData.data"
				v-loading.lock="state.tableData.loading"
				:height="`calc(80vh - 160px)`"
		>
			<el-table-column type="index" :label="$t('numberSign')" width="60"/>
			<el-table-column :label="$t('titleContent')" width="200">
				<template #default="scope">
					<div :class="`${scope.row.id === 0 ? 'danger' : ''}`"> {{ scope.row.title }}</div>
				</template>
			</el-table-column>
			<el-table-column prop="address" :label="$t('address')" width="220"/>
			<el-table-column :label="$t('province')" width="140">
				<template #default="scope">{{ $t(`heighLight.provinces.${scope.row.cat_key}`) }}</template>
			</el-table-column>
			<el-table-column :label="$t('images')" min-width="120">
				<template #default="props">
					<div class="grid grid-cols-3 gap-2">
						<el-avatar
								:size="60"
								v-for="(img, index) in props.row.images"
								:key="index"
								v-show="index <= 4"
						>
							<img :src="img.url" :alt="img.name"/>
						</el-avatar>
						<el-avatar :size="60" v-if="props.row.images.length > 5">
							<Icon name="i-heroicons-plus" size="25"/>
						</el-avatar>
					</div>
				</template>
			</el-table-column>
			<el-table-column prop="embed_link" :label="$t('googleMap')" min-width="180">
				<template #default="prop">
					<iframe
							v-if="prop.row.getMapDisplay?.iframe"
							:src="prop.row.getMapDisplay?.link"
							width="150px"
							height="80px"
							style="border: 0"
							loading="lazy"
							class="rounded-lg"
							referrerpolicy="no-referrer-when-downgrade"
					></iframe>
					<el-link
							type="primary"
							v-else
							:href="prop.row.getMapDisplay?.link"
							target="_blank"
					>
						{{ prop.row.getMapDisplay?.link }}
					</el-link>
				</template>
			</el-table-column>
			<el-table-column :minWidth="isMobile ? 120 : 180" fixed="right">
				<template #header>
					<el-input
							v-model="state.tableData.search"
							size="default"
							:placeholder="$t('name')"
					/>
				</template>
				<template #default="scope">
					<el-button v-if="scope.row.id !== 0" size="small" @click="$router.push(`/detail?id=${scope.row.uuid}`)" text
					           type="primary">{{ $t("view") }}
					</el-button>
					<el-popconfirm
							:title="$t('areYouSure')"
							@confirm="onSystem(scope.row, 'delete')"
					>
						<template #reference>
							<el-button size="small" text type="danger">{{ $t("delete") }}</el-button>
						</template>
					</el-popconfirm>
				</template>
			</el-table-column>
		</el-table>
		<el-pagination
				class="mt-5"
				v-model:current-page="state.tableData.page.page"
				v-model:page-size="state.tableData.page.pageSize"
				:page-sizes="[10, 25, 50, 75, 100]"
				size="small"
				background
				layout="total, sizes, prev, pager, next, jumper"
				@size-change="handleSizeChange"
				@current-change="handleCurrentChange"
				:total="state.tableData.total"
		/>
	</el-card>
</template>
<style lang="scss"></style>
