<script setup lang="ts">
import Header from './desktop/components/Header.vue';
import Footer from './desktop/components/Footer.vue';

</script>
<template>
  <div class="desktop">
      <Header />
      <slot />
      <Footer/>
  </div>
</template>