<script setup lang="ts">
import { BlogArticle, type IBlogArticle } from '~/models/IPost';


const state = reactive({
    data: <IBlogArticle>{},
});
const { data: blogData, pending } = await useFetch(`${useRuntimeConfig().public.baseURL + 'getBlogDetail?id=' + useRoute().query.id}`, {
    lazy: false,
    transform: (blogData: any) => {
        state.data = new BlogArticle(blogData.data);
    }
});
</script>

<template>
    <div>
        <div class="mx-auto pcContainer mb:mb-16 mb-10">
            <div class="min-h-[100vh]" v-loading="pending">
                <div class="py-5 md:py-7 font-semibold flex justify-between">
                    <div class="w-4/5 md:text-2xl text-xl truncate ">{{ state.data.title }}</div>
                    <div class="w-1/5 warning md:text-xl text-sm" v-if="state.data?.catName">{{ $t(`heighLight.provinces.${state.data?.catName}`) }}</div>
                </div>
                <div class="flex items-center">
                    <p class="inline-flex items-center md:mr-1 mr-1 text-sm text-gray-900 dark:text-white font-semibold">
                        <el-image class="mr-1 w-10 h-10 rounded-full" v-if="state.data?.user" :src="state.data.user?.profile"
                            alt="loading...." />
                        <Icon v-else name="i-heroicons-user-circle" size="25" />
                        <span class="px-1 text-xs md:text-base capitalize">
                            {{ state.data.user?.userName }}
                        </span>
                    </p>
                    <p class="text-xs md:text-base text-gray-600 dark:text-gray-400">
                        {{ state.data.created_at }}
                    </p>
                </div>
                <div class="pb-5">
                    <p v-html="state.data.describe"></p>
                </div>
            </div>
        </div>
    </div>
</template>