<script lang="ts" setup>
import { type IBlogArticle, BlogArticle } from '~/models/IPost';

const props = defineProps({
  pageName: {
    type: String,
    default: () => '',
  },
});

const state = reactive({
  page: 1,
  pageSize: 10,
  total: 0,
  data: <IBlogArticle[]>[],
  search: {
    title: '',
    selectedProvince: 'all',
  },
  loading: false,
  err: '',
})
const config = useRuntimeConfig();
const fetchData = async () => {
  const param = `${config.public.baseURL + 'getPostPageBlog'}?type=${props.pageName}&cat_id=${state.search.selectedProvince}&page=${state.page}&pageSize=${state.pageSize}`
  try {
    state.loading = true;
    const response = await fetch(param);
    const result = await response.json();
    state.data = result.data.data.map((items: IBlogArticle) => new BlogArticle(items));
  } catch (err: any) {
    state.err = err.message;
  } finally {
    state.loading = false;
  }
};

const onHandleSizeChange = (val: number) => {
  state.pageSize = val;
  fetchData()
};
const onHandleCurrentChange = (val: number) => {
  state.page = val;
  fetchData()
};
onMounted(() => fetchData());
watch(() => state.search.selectedProvince, () => fetchData());
const filterTableData = computed(() => state.data.filter((data: IBlogArticle) => !state.search.title || data.title.toLowerCase().includes(state.search.title.toLowerCase())));

</script>

<template>
  <div class="mx-auto pcContainer mb:mb-16 md:py-5 py-3">
    <Highlight v-model:search="state.search" />
    <Skeleton :isLoading="state.loading" :mdGrid="'4'" :smGrid="'2'" :data="8" />
    <div class="flex justify-center items-center py-10" v-if="!filterTableData.length">
      <el-empty :description="$t('noData')" :image-size="200" />
    </div>
    <div class="grid md:grid-cols-4 grid-cols-2 mt-5 gap-10 px-3 py-5">
      <div class="flex flex-wrap -m-4" v-for="(card, index) in filterTableData" :key="index">
        <div class="md:p-5 px-0 w-full">
          <div class="cursor-pointer" @click="$router.push(`/blog/detail?id=${card?.id}`)">
            <div class="border-gray shadow rounded-lg transform transition duration-500 hover:scale-[1.05]">
              <img class="h-32 md:h-44 w-full object-cover object-center rounded-t-md" :src="card.image" alt="lading">
              <div class="px-4 py-2">
                <div class="mb-2">
                  <h2 class="title-font font-medium text-base md:text-xl text-cool truncate">{{ card.title
                    }}</h2>
                </div>
                <div class="footer flex justify-between items-center">
                  <div class="flex gap-1 items-center">
                    <Icon name="i-heroicons-hand-thumb-up" class="text-primary text-xl" />
                    <span class="text-sm">{{ Math.floor(Math.random() * 101) }}</span>
                  </div>
                  <div class="flex gap-1 items-center">
                    <Icon name="icon-park-outline:message-one" />
                    <span class="text-sm">{{ Math.floor(Math.random() * 11) }}</span>
                    <Icon name="icon-park-outline:preview-open" />
                    <span class="text-sm">{{ Math.floor(Math.random() * 101) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end md:py-5 py-3">
      <el-pagination background @size-change="onHandleSizeChange" @current-change="onHandleCurrentChange"
        :page-sizes="[10, 20, 30]" v-model:current-page="state.page" size="small" v-model:page-size="state.pageSize"
        layout="total, sizes, prev, pager, next" :total="state.total">
      </el-pagination>
    </div>
  </div>
</template>
<style lang="scss" scoped></style>