<template>
  <div :style="{ height: props.height }" v-loading="kordinat.loading">
    <l-map :use-global-leaflet="false" v-model:zoom="zoomCenter" :center="[posisiUser.lat, posisiUser.lng]"
      @update:zoom="zoomUpdated" @update:center="centerUpdated">
      <l-marker :lat-lng="[posisiUser.lat, posisiUser.lng]" :options="{ draggable }" @dragend="setMarkerPosition">
        <LTooltip :options="{ interactive: true, permanent: true }">
          <iframe
            :src="`https://www.google.com/maps?q=${posisiUser.lat}, ${posisiUser.lng}+&output=embed&zoom=15`"></iframe>
        </LTooltip>
      </l-marker>
      <l-tile-layer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" layer-type="base" name="Stadia Maps Basemap"
        :attribution="attribution"></l-tile-layer>
    </l-map>
  </div>
</template>
<script lang="ts" setup>
import { ref, watch, computed } from 'vue';
import "leaflet/dist/leaflet.css";
import { LMap, LTileLayer, LMarker, LTooltip } from "@vue-leaflet/vue-leaflet";
import { useGeolocation } from '/@/composables/useGeolocation';

const { kordinat } = useGeolocation();
const props = defineProps({
  height: {
    type: String,
    default: () => '310px',
  },
  isEdit: {
    type: Object,
    default: () => { },
  },
  kordinat: {
    type: Object,
    default: () => { },
  }
});

const draggable = ref(true);
const zoomCenter = ref<number>(15);
const attribution = ref();
const posisiUser = computed(() => ({
  lat: props.isEdit.type === 'edit' ? props.kordinat.latitude : kordinat.latitude,
  lng: props.isEdit.type === 'edit' ? props.kordinat.longitude : kordinat.longitude,
}));
const emit = defineEmits(['update:kordinat']);
const zoomUpdated = (zoom: number) => {
  zoomCenter.value = zoom;
};

const centerUpdated = (position: any) => {
  kordinat.latitude = position.lat;
  kordinat.longitude = position.lng;
};
const setMarkerPosition = (e: any) => {
  kordinat.latitude = e.target._latlng.lat;
  kordinat.longitude = e.target._latlng.lng;

};
watch(() => [kordinat.latitude, kordinat.longitude], () => {
  emit('update:kordinat', { latitude: kordinat.latitude, longitude: kordinat.longitude });
})
</script>