<template>
    <el-popover :width="400" :visible="state.isVisible">
        <template #reference>
            <el-button @click="state.isVisible = true" size="small" type="danger">{{ $t('addMap') }}
                <i class="fa fa-map ml-2"></i>
            </el-button>
        </template>
        <el-form label-position="top">
            <el-popover placement="bottom" :style="{ width: isMobile ? '450px' : '560px', height: isMobile ? '200px' : '300px' }" trigger="click">
                <template #reference>
                    <el-link :underline="false" type="danger" class="flex items-center mb-2">
                        <span>{{ $t('howToEmebedGoogleMap')}}</span>
                        <Icon name="i-heroicons-map-pin" size="20"/>
                    </el-link>
                </template>
                <iframe class="md:w-[560px] md:h-[310px] w-[450px] h-[200px]" src="https://drive.google.com/file/d/1TFoFxw-wkJ31--utOTaL_Xfrk6CylCKO/preview" frameborder="0" allowfullscreen></iframe>
            </el-popover>
            <el-form-item class="mt10">
                <el-input rows="4" type="textarea" v-model="state.embedLink"
                    :placeholder="$t('emebedYourGoogleMapLink')" />
            </el-form-item>
            <el-form-item>
                <el-alert v-if="displayMap === 'notFound' && state.embedLink" :title="$t('embedLinkIsNotCorrect')"
                    type="warning" />
                <div v-else="props.embedLink">
                    <div v-show="state.embedLink">
                        <iframe :src="displayMap" width="370px" style="border:0;" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </el-form-item>
            <el-item-form class="flex justify-end">
                <el-button type="warning" @click="state.isVisible = false" size="small" class="w-20 mt-3">ok</el-button>
            </el-item-form>
        </el-form>
    </el-popover>
</template>
<script lang="ts" setup>
import { watch, computed, reactive, onMounted } from 'vue';

const props = defineProps({
    embedLink: {
        type: String,
        default: () => '',
    }
});
const { isMobile } = useVariables();
const emit = defineEmits(['update:embedLink'])
const state = reactive({
    embedLink: '',
    isVisible: false,
})
const displayMap = computed(() => {
    var regex = /src="([^"]+)"/;
    var match = props?.embedLink.match(regex);
    let googleMapsEmbedUrl = '';
    if (match && match[1]) {
        googleMapsEmbedUrl = match[1];
    } else {
        googleMapsEmbedUrl = 'notFound';
        console.error('Unable to extract Google Maps embed URL');
    }
    return googleMapsEmbedUrl;
});
watch(() => state.embedLink, () => {
    emit('update:embedLink', state.embedLink);
});
onMounted(() => {
    state.embedLink = props.embedLink;
})

</script>