<script setup lang="ts">
import { Post, type IPost } from '~/models/IPost';

const { api, store } = useVariables();
const state = reactive({
  visit:{
    visitLoading: false,
    data: <any>[],
  },
  food:{
    foodLoading: false,
    data: <any>[],
  },
  hotel:{
    hotelLoading: false,
    data: <any>[],
  },
  event:{
    eventLoading: false,
    data: <any>[],
  },
  blog:{
    blogLoading: false,
    data: [],
  },
  autoplay: { delay: 500, disableOnInteraction: false, pauseOnMouseEnter: true },
  autoplayReverse: { delay: 500, disableOnInteraction: false, pauseOnMouseEnter: true, reverseDirection: true },
});
const getCacheCat = async () => {
  const response = await api.getCatList();
  if (response.code !== 0) {
    console.log(response);
  } else {
    store.setCategories(response.data);
  }
};
const config = useRuntimeConfig();
const getVisit = async () => {
  state.visit.visitLoading = true;
  try {
    const response = await api.getHomeData('visit');
    state.visit.data = splitArray(response.data);
    if (response.code === 0) {
      getHotel();
      getEvent();
      getBlog();
      getCacheCat();
    }

  } catch (error) {
    console.error('Error fetching data:', error);
  }
  state.visit.visitLoading = false;
};
const getFood = async () => {
  state.food.foodLoading = true;
  try {
    const response = await api.getHomeData('food');
    state.food.data = splitArray(response.data);
  } catch (error) {
    console.error('Error fetching data:', error);
  }
  state.food.foodLoading = false;
};
const getHotel = async () => {
  state.hotel.hotelLoading = true;
  try {
    const response = await api.getHomeData('hotel');
    state.hotel.data = splitArray(response.data);
  } catch (error) {
    console.error('Error fetching data:', error);
  }
  state.hotel.hotelLoading = false;
};
const getEvent = async () => {
  state.event.eventLoading = true;
  try {
    const response = await api.getHomeData('event');
    state.event.data = splitArray(response.data);
  } catch (error) {
    console.error('Error fetching data:', error);
  }
  state.event.eventLoading = false;
};
const getBlog = async () => {
  state.blog.blogLoading = true;
  try {
    const response = await api.getHomeData('blog');
    state.blog.data = response.data;
  } catch (error) {
    console.error('Error fetching data:', error);
  }
  state.blog.blogLoading = false;
};
const splitArray = (data: IPost[]) => {
  if (data.length > 20) {
    const firstPart = data.slice(0, 20);
    const secondPart = data.slice(20);
    return [firstPart.map((item: IPost) => new Post(item)), secondPart.map((item: IPost) => new Post(item))];
  } else {
    return [data];
  }
}
onMounted(() => {
  getVisit();
  getFood();
});
</script>

<template>
  <div>
    <!-- <Banner/> -->
    <div class="mx-auto pcContainer mb:mb-16 mb-7">
      <div class="flex flex-nowrap items-center pt-4 gap-1 overflow-x-scroll pb-1 mobile-nav">
        <router-link to="/visit">
          <el-button size="small" round>{{ $t('navbar.placeToVisit') }}</el-button>
        </router-link>
        <router-link to="/food">
          <el-button size="small" round>{{ $t('navbar.placeToEat') }}</el-button>
        </router-link>
        <router-link to="/hotel">
          <el-button size="small" round>{{ $t('navbar.hotelToStay') }}</el-button>
        </router-link>
        <router-link to="/event">
          <el-button size="small" round>{{ $t('navbar.goOnAnEvent') }}</el-button>
        </router-link>
      </div>
      <section class="md:mt-7 mt-2 mx-auto">
        <div class="flex justify-between items-center">
          <div class="title text-xl md:text-2xl font-semibold capitalize mb-2">{{ $t('home.trendingPlace') }}</div>
          <el-button text type="primary" @click="$router.push('/visit')">
            <div class="flex items-center gap-2">
              <span>{{ $t('home.seeMore') }}</span>
              <Icon size="25" name="i-heroicons-arrow-long-right"/>
            </div>
          </el-button>
        </div>
        <Skeleton :isLoading="state.visit.visitLoading" :data="8"/>
        <PlaceTrending :autoplay="state.autoplay" :data="state.visit.data[0]"/>
        <PlaceTrending class="md:mt-3 mt-0" :autoplay="state.autoplayReverse" :data="state.visit.data[1]"/>
      </section>
      <section class="md:mt-7 mt-5 mx-auto">
        <div class="flex justify-between items-center">
          <div class="title text-xl md:text-2xl font-semibold capitalize mb-2">{{ $t('home.trendingFood') }}</div>
          <el-button text type="primary" @click="$router.push('/food')">
            <div class="flex items-center gap-2">
              <span>{{ $t('home.seeMore') }}</span>
              <Icon size="25" name="i-heroicons-arrow-long-right"/>
            </div>
          </el-button>
        </div>
        <Skeleton :isLoading="state.food.foodLoading"/>
        <PlaceTrending :autoplay="state.autoplay" :data="state.food.data[0]"/>
        <PlaceTrending class="md:mt-3 mt-0" :autoplay="state.autoplayReverse" :data="state.food.data[1]"/>
      </section>
      <section class="md:mt-7 mt-5 mx-auto">
        <div class="flex justify-between items-center">
          <div class="title text-xl md:text-2xl font-semibold capitalize mb-2">{{ $t('home.trendingHotel') }}</div>
          <el-button text type="primary" @click="$router.push('/hotel')">
            <div class="flex items-center gap-2">
              <span>{{ $t('home.seeMore') }}</span>
              <Icon size="25" name="i-heroicons-arrow-long-right"/>
            </div>
          </el-button>
        </div>
        <Skeleton :isLoading="state.hotel.hotelLoading"/>
        <PlaceTrending :autoplay="state.autoplay" :data="state.hotel.data[0]"/>
        <PlaceTrending class="md:mt-3 mt-0" :autoplay="state.autoplayReverse" :data="state.hotel.data[1]"/>
      </section>
      <section class="md:mt-7 mt-5 mx-auto">
        <div class="flex justify-between items-center">
          <div class="title text-xl md:text-2xl font-semibold capitalize mb-2">{{ $t('home.trendingEvent') }}</div>
          <el-button text type="primary" @click="$router.push('/event')">
            <div class="flex items-center gap-2">
              <span>{{ $t('home.seeMore') }}</span>
              <Icon size="25" name="i-heroicons-arrow-long-right"/>
            </div>
          </el-button>
        </div>
        <Skeleton :isLoading="state.event.eventLoading"/>
        <PlaceTrending :autoplay="state.autoplay" :data="state.event.data[0]"/>
        <PlaceTrending class="md:mt-3 mt-0" :autoplay="state.autoplayReverse" :data="state.event.data[1]"/>
      </section>
      <section class="md:mt-7 mt-5 mx-auto">
        <div class="flex justify-between items-center">
          <div class="title text-xl md:text-2xl font-semibold capitalize mb-2">{{ $t('home.trendingBlog') }}</div>
          <el-button text type="primary" @click="$router.push('/blog')">
            <div class="flex items-center gap-2">
              <span>{{ $t('home.seeMore') }}</span>
              <Icon size="25" name="i-heroicons-arrow-long-right"/>
            </div>
          </el-button>
        </div>
        <Skeleton :isLoading="state.blog.blogLoading" :mdGrid="'3'" :smGrid="'1'"/>
        <BlogTrending :autoplay="state.autoplay" :data="state.blog.data"/>
      </section>
      <section class="testiminal">
        <div class=" flex items-center justify-center py-5">
          <div class="w-full text-cool">
            <div class="w-full mx-auto">
              <div class="text-center max-w-xl mx-auto">
                <h1 class="text-2xl md:text-4xl font-semibold mb-5 text-cool">{{ $t('peopleSay.title') }}</h1>
                <h3 class="text-xl mb-5 font-light">{{ $t('peopleSay.desc') }}</h3>
                <div class="text-center mb-10">
                  <span class="inline-block w-1 h-1 rounded-full bg-primary ml-1"></span>
                  <span class="inline-block w-3 h-1 rounded-full bg-primary ml-1"></span>
                  <span class="inline-block w-40 h-1 rounded-full bg-primary"></span>
                  <span class="inline-block w-3 h-1 rounded-full bg-primary ml-1"></span>
                  <span class="inline-block w-1 h-1 rounded-full bg-primary ml-1"></span>
                </div>
              </div>
              <div class="-mx-3 md:flex items-start">
                <div class="px-3 md:w-1/3 ">
                  <div
                      class="w-full mx-auto rounded-lg dark:bg-primary shadow-md p-5 text-gray-800 font-light mb-6">
                    <div class="w-full flex mb-4 items-center">
                      <div class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray flex items-center justify-center">
                        <Icon name="i-heroicons-user-circle" size="25"/>
                      </div>
                      <div class="flex-grow pl-3">
                        <h6 class="font-semibold text-sm uppercase text-gray-600 dark:text-white">San John</h6>
                      </div>
                    </div>
                    <div class="w-full">
                      <p class="text-sm leading-tight text-gray-400 dark:text-white"><span
                          class="text-lg leading-none italic font-semibold text-gray-400 dark:text-white mr-1">"
                        </span>
                        {{ $t('peopleSay.num1') }}
                        <span class="text-lg leading-none italic font-semibold text-gray-400 dark:text-white ml-1">"</span>
                      </p>
                    </div>
                  </div>
                  <div
                      class="w-full mx-auto rounded-lg dark:bg-primary shadow-md p-5 text-gray-800 font-light mb-6">
                    <div class="w-full flex mb-4 items-center">
                      <div
                          class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray flex items-center justify-center">
                        <!-- <img src="https://i.pravatar.cc/100?img=4" alt=""> -->
                        <Icon name="i-heroicons-user-circle" size="25"/>
                      </div>
                      <div class="flex-grow pl-3">
                        <h6 class="font-semibold text-sm uppercase text-gray-600 dark:text-white">Chan Chivy</h6>
                      </div>
                    </div>
                    <div class="w-full">
                      <p class="text-sm leading-tight text-gray-400 dark:text-white"><span
                          class="text-lg leading-none italic font-semibold text-gray-400 dark:text-white mr-1">"
                        </span>
                        {{ $t('peopleSay.num2') }}<span
                            class="text-lg leading-none italic font-semibold text-gray-400 dark:text-white ml-1">"</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="px-3 md:w-1/3">
                  <div
                      class="w-full mx-auto rounded-lg dark:bg-primary shadow-md p-5 text-gray-800 font-light mb-6">
                    <div class="w-full flex mb-4 items-center">
                      <div class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray">
                        <img src="https://i.pravatar.cc/100?img=3" alt="">
                      </div>
                      <div class="flex-grow pl-3">
                        <h6 class="font-semibold text-sm uppercase text-gray-600 dark:text-white">Tommie Ewart.</h6>
                      </div>
                    </div>
                    <div class="w-full">
                      <p class="text-sm leading-tight text-gray-400 dark:text-white"><span
                          class="text-lg leading-none italic font-semibold text-gray-400 dark:text-white mr-1">"
                        </span> {{ $t('peopleSay.num3') }}<span
                          class="text-lg leading-none italic font-semibold text-gray-400 dark:text-white ml-1">"</span></p>
                    </div>
                  </div>
                  <div
                      class="w-full mx-auto rounded-lg dark:bg-primary shadow-md p-5 text-gray-800 font-light mb-6">
                    <div class="w-full flex mb-4 items-center">
                      <div
                          class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray flex items-center justify-center">
                        <!-- <img src="https://i.pravatar.cc/100?img=4" alt=""> -->
                        <Icon name="i-heroicons-user-circle" size="25"/>
                      </div>
                      <div class="flex-grow pl-3">
                        <h6 class="font-semibold text-sm uppercase text-gray-600 dark:text-white">Charlie Howse.</h6>
                      </div>
                    </div>
                    <div class="w-full">
                      <p class="text-sm leading-tight text-gray-400 dark:text-white"><span
                          class="text-lg leading-none italic font-semibold text-gray-400 dark:text-white mr-1">"
                        </span> {{ $t('peopleSay.num4') }}<span
                          class="text-lg leading-none italic font-semibold text-gray-400 dark:text-white ml-1">"</span></p>
                    </div>
                  </div>
                </div>
                <div class="px-3 md:w-1/3">
                  <div
                      class="w-full mx-auto rounded-lg dark:bg-primary shadow-md p-5 text-gray-800 font-light mb-6">
                    <div class="w-full flex mb-4 items-center">
                      <div class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray">
                        <img src="https://i.pravatar.cc/100?img=5" alt="">
                      </div>
                      <div class="flex-grow pl-3">
                        <h6 class="font-semibold text-sm uppercase text-gray-600 dark:text-white">Yan SreyChiv.</h6>
                      </div>
                    </div>
                    <div class="w-full">
                      <p class="text-sm leading-tight text-gray-400 dark:text-white"><span
                          class="text-lg leading-none italic font-semibold text-gray-400 dark:text-white mr-1">"
                        </span> {{ $t('peopleSay.num5') }}
                        <span class="text-lg leading-none italic font-semibold text-gray-400 dark:text-white ml-1">"</span>
                      </p>
                    </div>
                  </div>
                  <div
                      class="w-full mx-auto rounded-lg dark:bg-primary shadow-md p-5 text-gray-800 font-light mb-6">
                    <div class="w-full flex mb-4 items-center">
                      <div
                          class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray flex items-center justify-center">
                        <!-- <img src="https://i.pravatar.cc/100?img=6" alt=""> -->
                        <Icon name="i-heroicons-user-circle" size="25"/>
                      </div>
                      <div class="flex-grow pl-3">
                        <h6 class="font-semibold text-sm uppercase text-gray-600 dark:text-white">Sambath Bo.</h6>
                      </div>
                    </div>
                    <div class="w-full">
                      <p class="text-sm leading-tight text-gray-400 dark:text-white"><span
                          class="text-lg leading-none italic font-semibold text-gray-400 dark:text-white mr-1">"</span>
                        {{ $t('peopleSay.num6') }}<span
                            class="text-lg leading-none italic font-semibold text-gray-400 dark:text-white ml-1">"</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="benifit py-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 place-content-between gap-5">
          <div class="flex gap-2 items-center">
            <Icon class="text-gray-500 text-4xl md:text-6xl" name="fluent:save-20-regular"/>
            <div class="flex flex-col">
              <div class="text-sm font-semibold md:text-base">{{ $t('feature.num1.title') }}</div>
              <p class="font-light text-xs md:text-sm">{{ $t('feature.num1.desc') }}</p>
            </div>
          </div>
          <div class="flex gap-2 items-center">
            <Icon class="text-gray-500 text-4xl md:text-6xl" name="fluent:headphones-sound-wave-20-filled"/>
            <div class="flex flex-col">
              <div class="text-sm font-semibold md:text-base">{{ $t('feature.num2.title') }}</div>
              <p class="font-light text-xs md:text-sm">{{ $t('feature.num2.desc') }}</p>
            </div>
          </div>
          <div class="flex gap-2 items-center">
            <Icon class="text-gray-500 text-4xl md:text-6xl" name="fluent:align-space-evenly-horizontal-20-regular"/>
            <div class="flex flex-col">
              <div class="text-sm font-semibold md:text-base">{{ $t('feature.num3.title') }}</div>
              <p class="font-light text-xs md:text-sm">{{ $t('feature.num3.desc') }}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<style scoped>
.mobile-nav {
  display: none;
}

@media (max-width: 768px) {
  .mobile-nav {
    display: flex;
  }
}
</style>