<script setup lang="ts">
definePageMeta({
  middleware: ["setting"],
});
const { route } = useVariables();
const activeIndex = ref(route.path);
const accountRoutes = [
  {
    name: 'dashboard.myPost',
    url: '/setting/mypost',
    icon: 'i-heroicons-device-phone-mobile',
  },
  {
    name: 'dashboard.historyBooking',
    url: '/setting/mybooking',
    icon: 'i-heroicons-clock',
  },
  {
    name: 'dashboard.mySaved',
    url: '/setting/mysave',
    icon: 'i-heroicons-bookmark-square',
  },
  {
    name: 'dashboard.myProfile',
    url: '/setting/myprofile',
    icon: 'i-heroicons-user-circle',
  },
  {
    name: 'dashboard.systemManagement',
    url: '/setting/admin',
    icon: 'i-heroicons-circle-stack',
  },
];
const handleSelect = (key: string, keyPath: string[]) => {
  return navigateTo(key);
}
</script>

<template>
  <div class="mx-auto pcContainer mb:mb-16 mb-10 ">
    <div class="flex justify-center pt-4 pb-2">
      <div class="md:text-2xl text-xl font-semibold info"> {{ $t('dashboard.personalManagementData') }}</div>
    </div>
    
    <div class="min-h-[80vh]">
      <el-menu
          :default-active="activeIndex"
          class="el-menu-demo"
          mode="horizontal"
          @select="handleSelect"
          >
            <el-menu-item v-for="(setting, index) in accountRoutes" :key="index" :index="setting.url">
            <div class="flex gap-1 items-center">
              <Icon :name="setting.icon" size="22"/>
              <span>{{$t(setting.name)}}</span>
            </div>
            </el-menu-item>
          </el-menu>
      <div class="mt-4">
       <NuxtPage/>
     </div>
    </div>
  </div>
</template>
<style scoped lang="scss">
:deep(.el-menu-item) {
  @apply md:px-3 px-2;
  @apply md:text-sm text-xs;
}
</style>