<script setup lang="ts">
import useVariable from "~/composables/useVariables";
import useAuth from "~/composables/auth/useAuth";

const { setCookieWithExpiration,  refreshTokenAndSetCookie } = useAuth();

const props = defineProps({
  login: {
    type: String,
    default: () => 'default',
  },
  register: {
    type: String,
    default: () => 'default',
  },
});
const { t, router, store, isMobile } = useVariable();
const { isAuth } = storeToRefs(store);
const onHandleCommandClick = (path: string) => {
  if (path === 'logOut') {
    ElMessageBox({
      closeOnClickModal: false,
      closeOnPressEscape: false,
      title: t('user.logOutTitle'),
      message: t('user.logOutMessage'),
      showCancelButton: true,
      confirmButtonText: t('user.logOutConfirm'),
      cancelButtonText: t('user.logOutCancel'),
      buttonSize: 'default',
      beforeClose: (action, instance, done) => {
        if (action === 'confirm') {
          instance.confirmButtonLoading = true;
          instance.confirmButtonText = t('user.logOutExit');
          setTimeout(() => {
            done();
            setTimeout(() => {
              instance.confirmButtonLoading = false;
            }, 300);
          }, 700);
        } else {
          done();
        }
      },
    })
      .then(async () => {
        // Clear cache/token, etc.
        Session.clear();
        await router.push('/');
      })
      .catch(() => { });
  } else {
    router.push(path);
  }
};
watch(() => Session.get('token'), () => {
  setCookieWithExpiration('refreshTime', '20mns', 20, refreshTokenAndSetCookie);
})
</script>

<template>
  <div>
    <el-button-group v-if="!isAuth">
      <el-button type="primary" :size="props.login" text @click="$router.push('/account/login')" :class="`${isMobile ? 'w-[45px]' : 'w-18'}`">
        <div class="flex items-center md:gap-2 gap-0.5">
          <Icon name="i-heroicons-user" />
          <span>{{ $t('login') }}</span>
        </div>
      </el-button>
      <el-button type="primary" :size="props.login" text @click="$router.push('/account/register')" :class="`${isMobile ? 'w-[80px]' : 'w-22'}`">
        <div class="flex items-center md:gap-2 gap-0.5 pr-2">
          <Icon name="i-heroicons-user" />
          <span>{{ $t('register') }}</span>
        </div>
      </el-button>
    </el-button-group>
    <div v-else>
      <el-dropdown :show-timeout="70" :hide-timeout="50" @command="onHandleCommandClick">
        <div class="layout-navbars-breadcrumb-user-link md:text-base text-sm flex items-center gap-1 mr-2">
          <img v-if="store.userInfos?.profile" :src="store.userInfos?.profile"
            class="w-7 h-7 rounded-full" :alt="store.userInfos?.profile" />
          <Icon v-else name="i-heroicons-user-circle" size="25" />
          <span class="capitalize truncate">{{ store.userInfos?.userName }}</span>
          <!-- <Icon name="i-heroicons-cog-6-tooth" size="22" /> -->
        </div>
        <template #dropdown>
          <el-dropdown-menu>
            <el-dropdown-item command="/setting/mypost">
              <div class="flex items-center gap-1.5">
                <span>{{ $t('user.myAccount') }}</span>
                <Icon name="i-heroicons-user-circle" size="18"></Icon>
              </div>
            </el-dropdown-item>
            <el-dropdown-item divided command="logOut">
              <div class="flex items-center gap-2 danger">
                <span>{{ $t('user.logout') }}</span>
                <Icon name="i-heroicons-arrow-left-start-on-rectangle" size="16"></Icon>
              </div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
  </div>
</template>

<style scoped lang="scss"></style>