<script lang="ts" setup>

</script>
<template>
  <div class="bg-primary">
    <div class="mx-auto pcContainer">
      <div class="py-5 md:py-7 lg:py-8 grid md:grid-cols-4 grid-cols-2 place-items-center text-white gap-3">
        <NuxtLink to="/" class="flex gap-2 items-center">
          <div class="text-sm md:text-base">Power by:</div>
          <div class="font-semibold uppercase text-sm md:text-base">Web Tour</div>
        </NuxtLink>
        <NuxtLink class="text-sm md:text-base" to="/policy">Privacy Policy</NuxtLink>
        <NuxtLink class="text-sm md:text-base" to="/termofuse">Term of Use</NuxtLink>
        <NuxtLink class="text-sm md:text-base" to="/about">About Us</NuxtLink>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped></style>