<script setup lang="ts">
import NavBarPc from '~/layouts/desktop/components/NavBar.vue';
import NavBarMobi from '~/layouts/mobile/components/NavBar.vue';
import MobileMenu from '~/layouts/mobile/components/MobileMenu.vue';
import { useStore } from '~/store';

const store = useStore();
onMounted(() => {
  store.onMobileDialog = false;
  store.onSearch = false;
  if(!Session.get('token')) {
    Session.clear(); 
  }
});
const title = computed(() => {
  let url = useRoute().name;
  if (url === 'index') {
    url = 'Home';
  }
  return url;
});

</script>
<template>
  <Head>
    <Title>Tovna24 - {{ title || 'Home' }}</Title>
    <Meta name="description" content="tovna24.com is a tour place for people who wants to visit all places in Cambodia!" />
    <Link rel="icon" href="/icon.png"></Link>
  </Head>
  <MobileMenu v-model:isOpen="store.onMobileDialog" />
  <Search v-model:isSearch="store.onSearch" />
  <NavBarPc class="max-[850px]:hidden" />
  <NavBarMobi class="min-[850px]:hidden" />
</template>
<style lang="scss" scoped></style>