<script setup lang="ts">
import Authenticate from "~/layouts/desktop/components/Authenticate.vue";
import { useStore } from "~/store";

const date = useLocaleDate(new Date());
const store = useStore();
</script>
<template>
  <div class="bg-background/75 backdrop-blur border-b border-red-800 sticky top-0 z-50 dark:border-gray-800 py-3">
    <div class="mx-auto pcContainer">
      <div class="flex items-center justify-between gap-3">
        <div class="flex items-center gap-5">
          <div class="flex  text-xl font-semibold uppercase cursor-pointer primary" @click="$router.push('/')">
            Tovna24
          </div>
          <div>
            {{ date }}
          </div>
          <!-- <ColorTheme /> -->
        </div>
        <div class="flex items-center">
          <div class="flex items-center">
            <Authenticate />
            <div class="mr-2">
              <ColorMode />
            </div>
            <Language />
          </div>
        </div>
      </div>
      <div class="flex justify-between mt-2">
        <div class="flex gap-5 items-center pcMenu">
          <div class="flex items-center">
            <NuxtLink to="/">
              <div class="flex gap-2 items-center">
                <Icon name="material-symbols:other-houses-rounded" size="24" />
                <span>{{ $t('navbar.home') }}</span>
              </div>
            </NuxtLink>
          </div>
          <div class="flex items-center">
            <NuxtLink to="/visit">
              <div class="flex gap-2 items-center">
                <Icon name="material-symbols:directions-car-sharp" size="24" />
                <span>{{ $t('navbar.placeToVisit') }}</span>
              </div>
            </NuxtLink>
          </div>
          <div class="flex items-center">
            <NuxtLink to="/food">
              <div class="flex gap-2 items-center">
                <Icon name="material-symbols-light:fastfood-rounded" size="26" />
                <span>{{ $t('navbar.placeToEat') }}</span>
              </div>
            </NuxtLink>
          </div>
          <div class="flex items-center">
            <NuxtLink to="/hotel">
              <div class="flex gap-2 items-center">
                <Icon name="material-symbols:bed" size="24" />
                <span>{{ $t('navbar.hotelToStay') }}</span>
              </div>
            </NuxtLink>
          </div>
          <div class="flex items-center">
            <NuxtLink to="/event">
              <div class="flex gap-2 items-center">
                <Icon name="material-symbols:calendar-month-sharp" size="24" />
                <span>{{ $t('navbar.goOnAnEvent') }}</span>
              </div>
            </NuxtLink>
          </div>
<!--          <div class="flex items-center">-->
<!--            <NuxtLink to="/blog">-->
<!--              <div class="flex gap-2 items-center">-->
<!--                <Icon name="material-symbols:featured-play-list-outline-rounded" size="24" />-->
<!--                <span>{{ $t('navbar.blog') }}</span>-->
<!--              </div>-->
<!--            </NuxtLink>-->
<!--          </div>-->
        </div>
        <div class="flex items-center gap-3">
          <div class="flex gap-1 items-center cursor-pointer" @click="store.onSearch = !store.onSearch">
            <Icon name="i-heroicons-magnifying-glass" size="22" />
            <span class="text-sm">{{ $t('navbar.search') }}...</span>
          </div>
          <UploadButton />
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.dark body {
  .border-b {
    border-bottom: 1px solid var(--el-color-primary)
  }
}

.border-b {
  border-bottom: 1px solid #3333;

}
</style>